[2016-10-24 06:08] soumyaray opened #6 "Create basic tests"
Use demo scripts for scenarios
- [x] pick simplest demo scenario
- [x] run demo by hand first, save results in file
- [x] create first tests to run scenario, check no errors
- [x] create first tests to run scenario, compare with results

[2016-10-28 07:12] NicholasDanks commented on #6
Complete

[2016-10-31 07:03] soumyaray commented on #6
awesome!

[2016-10-31 07:03] #6 closed

[2016-10-31 07:05] soumyaray opened #8 "Add bootstrapping as a seminr feature"
Let's play with some sample bootstrapping notation?

[2016-10-31 07:26] soumyaray opened #9 "Add pls technique as an option for estimation"

[2016-10-31 07:27] soumyaray opened #10 "summary function for reporting"

[2016-10-31 07:27] soumyaray opened #11 "allow orthogonalized interactions"

[2017-05-16 10:56] NicholasDanks commented on #11
Branch: create_kernel - resolved.

[2017-05-16 10:56] #11 closed

[2017-05-16 10:57] NicholasDanks commented on #9
Changed to simplePLS estimation technique. create_kernel branch resolved.

[2017-05-16 10:57] #9 closed

[2017-05-16 10:57] NicholasDanks commented on #8
bootstrap_model method. create_kernel branch. Resolved.

[2017-05-16 10:57] #8 closed

[2017-08-02 04:40] soumyaray opened #18 "Rename estimate() to pls_estimate()"

[2017-08-02 04:43] soumyaray opened #19 "Output: fix 'factor/formative/reflective' terminology"

[2017-08-02 04:50] soumyaray opened #20 "Optimize simple_pls for for performance"
- remove one-time versus iterative needs
- refactor: vectorized/functional approach for iterative steps

[2017-08-02 04:51] soumyaray commented on #20
@NicholasDanks under which combination of parameters is it fast/slow?

[2017-08-02 04:52] NicholasDanks commented on #20
Bootstrapping moderated models (scaled and ortho) is VERY slow

[2017-08-02 04:57] soumyaray opened #21 "Remove semPLS dependency"
Perhaps copy over dataset or use new datasaet

[2017-08-02 04:57] soumyaray opened #22 "Update README, demos, and vignettes"
@NicholasDanks: vignettes

@soumyaray: README
- [x] specify syntax <-> traditional modes
- [x] goals of seminr
- [x] update usage

both: demos

[2017-08-02 05:02] soumyaray opened #23 "Rename measurement functions"
- reflective()
- composite()
- causal()

[2017-08-03 04:54] soumyaray opened #25 "Add tests for `composite()` function"

[2017-08-04 05:56] #23 closed

[2017-08-04 05:57] soumyaray commented on #18
renamed to `estimate_pls()` for now

[2017-08-04 05:57] #18 closed

[2017-08-04 06:11] soumyaray commented on #22
working on README now

[2017-08-04 08:47] soumyaray opened #27 "Create file of published references"
A file of published references that we can refer to specific publications for warnings, etc.

Filename: REFERENCES.yaml / .md

Perhaps some Yaml/md format as:
[code]

[2017-08-05 05:08] NicholasDanks opened #28 "Modify the letter representation of measurement matrix"
Measurement model should be specified as:
C = Reflective (mode A consistent)
A = Formative Composite (mode A)
B = Formative Composite (mode B)

[2017-08-06 02:29] #28 closed

[2017-08-06 02:29] #21 closed

[2017-08-06 02:53] #25 closed

[2017-08-06 04:35] NicholasDanks opened #30 "Change bootstrap tests for tolerance in different bootstraps"
Either change the bootstrap tests to allow certain variance
Or allow bootstrap to take a seed

[2017-12-15 05:14] soumyaray opened #37 "interaction warning for PLSc adjustment"
Following warning shows up even if model does not include `reflective` constructs:
[code]

Example: run demo/seminr_contained.R

Should only show up for models with reflective constructs involved in interactions

[2017-12-15 05:16] soumyaray opened #38 "rhoC_AVE "x not defined""
function `rhoC_AVE` has problem here:
[code]

x is defined in `if` clause but also used in the `else` clause.  this causes it to crash with error if the `else` clause is reached.

[2017-12-15 05:17] soumyaray opened #39 "rhoC_AVE "object N not defined""
[code]

should be `NA`?

[2017-12-18 04:59] NicholasDanks commented on #39
Attended to in branch CRAN_submission_prep

[2017-12-18 04:59] #39 closed

[2017-12-18 04:59] NicholasDanks commented on #38
Attended to in branch CRAN_submission_prep

[2017-12-18 04:59] #38 closed

[2017-12-18 05:22] NicholasDanks commented on #37
Addressed in branch CRAN_submission_prep

[2017-12-18 05:22] #37 closed

[2017-12-18 05:23] #30 closed

[2017-12-18 05:23] NicholasDanks commented on #10
addressed by branch summarize -

[2017-12-18 05:23] #10 closed

[2018-01-17 06:49] #22 closed

[2018-01-17 06:50] #20 closed

[2018-01-17 06:50] #19 closed

[2018-01-17 07:18] soumyaray opened #48 "Rename `fscores` to `construct_scores`"

[2018-01-17 07:21] soumyaray opened #49 "Add Juan as Author"
Add Juan as `aut` in DESCRIPTION file

[2018-01-17 07:41] soumyaray opened #50 "Remove summary scores of common factors"
Leave scorse of factors in `seminr_model` object, but remove them from `seminr_model_summary`

[2018-01-17 07:46] soumyaray commented on #50
For `seminr_model_summary`, call the scores object: `composite_scores`

[2018-01-18 06:35] #49 closed

[2018-01-18 06:35] #48 closed

[2018-01-18 07:25] NicholasDanks commented on #49
Attended to in PR #51

[2018-01-18 07:26] NicholasDanks commented on #48
Attended to in PR #51

[2018-01-19 11:06] bhimasta opened #53 "Multi-group analysis"
Able to generate hypotheses testing for multi-group analysis (MGA) including measurement invariance as prerequisite for doing MGA

[2018-01-19 11:31] soumyaray commented on #53
Thanks! let's discuss this offline in early Feb?  Happy to collaborate with you to make this come true.

[2018-01-19 15:39] soumyaray opened #54 "Construct descriptives in summary"
Either add construct descriptives in summary, or show how to get them in the vignette/manuals

[2018-01-25 05:03] NicholasDanks opened #55 "Simulation and Generation of Composite, common-factor and mixed models."
Include a feature that simulates data for a given structural and measurement model. This should simulate both composite and common-factor data.

[2018-01-25 05:06] NicholasDanks opened #56 "FEATURE: Automate higher order constructs"
Create a function to automatically generate higher order constructs and integrate them in the model.

[2018-02-12 15:42] soumyaray opened #57 "Add logo"
Put on README :)

[2018-03-01 10:04] NicholasDanks opened #58 "in rhoC_AVE() error in if_else()"
} else {
dgr[i,1] <- NA
dgr[i,2] <- sum(x^2)/length(x)

should be:

ind <- which(x!=0)
x <- x[ind]
dgr[i,1] <- NA
dgr[i,2] <- sum(x^2)/length(x)

[2018-03-01 10:07] soumyaray commented on #58
the coding markdown isn't working — can you try fixing it?  also, what's the issue exactly?

[2018-03-02 05:50] NicholasDanks commented on #58
For fully common-factor specified models, the else portion of the if_else statement is called.
The vector x contains loadings.
This vector should be indexed to return only the loadings of the appropriate items on the appropriate construct.
Otherwise an incorrect mean is calculated in the final line

[2018-03-05 08:10] NicholasDanks opened #59 "Explicitly define dependencies in DESCRIPTION"
An issue to help install 'seminr' package.

install.packages('seminr', dependencies=TRUE, type="source")

perhaps SEMinR's DESCRIPTION file needs the Depends: … line to include parallel or any other packages needed. instead of Imports: ...

[2018-05-08 02:04] soumyaray opened #60 "Add VIF analysis"

[2018-05-08 02:07] soumyaray opened #61 "NEW: 2-stage interaction process"

[2018-05-08 02:10] soumyaray commented on #59
Where's the online article/issue discussing this?

[2018-05-11 06:33] NicholasDanks commented on #59
This is only problematic for OLD versions of R.
"Imports" is safer than "Depends" (and also makes a package using it a 'better citizen' with respect to other packages that do use "Depends").

A "Depends" directive attempts to ensure that a function from another package is available by attaching the other package to the main search path (i.e. the list of environments returned by search()). This str

[2018-05-11 06:33] #59 closed

[2018-05-16 04:56] soumyaray opened #64 "minor fixes: renaming and restructuring"
- [x] `ltVariables` —> `construct_names`
- [x] mimic folders in `R/` with filenames:
  - `estimate_*.R`
  - `assess_*.R`
  - `compute_metrics.R` (specific stats formula will be performed here)

- [x] duplicate rho_a (evaluation.R) and rhoA (reliability.R)
- [x] remove "SEMinR" title from README.md — the logo suffices as the title
- [x] add TravisCI badge (build passing) to README.md
- [x] should T

[2018-05-16 06:46] soumyaray commented on #60
refactored, tested, merged into `develop` on #63

[2018-05-16 14:57] soumyaray commented on #64
@NicholasDanks added some points and made checklists out of them

[2018-05-18 07:59] #58 closed

[2018-05-18 08:29] NicholasDanks commented on #60
- [ ] Add VIF to Vignette.

[2018-05-18 08:31] #60 closed

[2018-05-18 08:31] #57 closed

[2018-05-21 09:19] NicholasDanks commented on #54
Why do we need construct descriptives? Which descriptives specifically?

[2018-05-28 05:20] NicholasDanks opened #65 "compute_vif() function bug"
compute_vif() function cannot handle construct names with a space. eg "Intention Purchase" is not accepted, but "IntentionPurchase" is accepted.
This bug arises from the use of paste() in the formula for lm
[code]

Add a test for constructs with spaces in name

[2018-05-28 10:05] soumyaray commented on #65
@NicholasDanks should i address this or you?  please assign me if you want me to patch it.

[2018-05-28 10:05] NicholasDanks commented on #65
@soumyaray No I'll get it in my current branch.

[2018-05-29 06:34] NicholasDanks opened #66 "Can we conduct PLSc on a model with interactions where the interaction does not touch the common factors"
Output:
[code]

I’m getting this message even if no reflective variables were involved in the interaction (main effects or outcome).  Shouldn’t I be allowed to have a reflective construct that doesn’t touch the interaction?

[2018-05-31 04:21] NicholasDanks opened #67 "Error in bootstrap_model()"
- [x] catch the warnings automatically created by parallel() when the cluster was not closed properly (usually by an error in the previous call on bootstrap_model() which opened the cluster, but failed to close it.
- [x] consider some type of error handling that automatically closes the cluster when bootstrap_model() hits an error and stops running the code prior to closing the cluster.

[2018-05-31 04:25] NicholasDanks opened #68 "bootstrap_model() causes windows firewall to issue warning"
A windows firewall pop-up warning occurred during running parallel function in bootstrap_model().
https://stackoverflow.com/questions/47353848/localhost-connection-without-firewall-popup/47491842

[2018-06-08 08:33] NicholasDanks commented on #65
Addressed and tests added

[2018-06-08 08:33] #65 closed

[2018-06-09 00:53] NicholasDanks commented on #66
Becker, J., Ringle, C. M., & Sarstedt, M. (2018). Estimating Moderating Effects in PLS-SEM and PLSc-SEM: Interaction Term Generation*Data Treatment. Journal of Applied Structural Equation Modeling, 2(June), 1–21.

Suggest two-stage approach for plsc and pls and form and refl mm

[2018-06-09 01:55] NicholasDanks commented on #67
Suppressed warnings on makeCluster in case existing cluster was open
tryCatch to stop cluster when error or warning is encountered in bootstrap. Tests pass.

[2018-06-09 01:55] #67 closed

[2018-06-10 01:33] NicholasDanks opened #69 "Bootstrap added functions"
- [x] Add bootstrap functionality for weights
- [x] Add bootstrap functionality for loadings
- [x] Add bootstrap functionality for htmt
- [ ] Change students bootstrap to BCa bootstrap

[2018-06-10 01:50] NicholasDanks opened #71 "Reporting correct metrics for correct constructs"
Composites:
- [x] Weights, bootstrap significance, conf interval
- [x] VIF for items -> construct
- [ ] Sat model SRMR < HI95 quantile

Factors
- [x] loadings > 0.7
- [x] rhoA > 0.7 and < 0.95
- [x] AVE > 0.5
- [ ] Fornell Larcker
- [x] HTMT < 0.9 OR 0.85 (conservative)
- [x] Bootstrapped HTMT significantly != 1
- [ ] Sat model SRMR < HI95 quantile

[2018-06-10 02:05] NicholasDanks commented on #71
https://github.com/r-lib/testthat/blob/717b02164def5c1f027d3a20b889dae35428b6d7/R/colour-text.r

[2018-06-10 02:10] NicholasDanks opened #72 "Add bootstrap reporting for measurement model eval"
- [x] Add code to report bootstrap HTMT and test =! 1
- [x] Add code to report bootstrap weights
- [x] Add code to report bootstrap loadings

[2018-06-14 05:59] NicholasDanks opened #74 "How do we evaluate interaction terms - composites or factors?"
Should we apply factor or composite evaluation to interaction terms?

[2018-06-14 07:37] NicholasDanks opened #75 "HTMT bootstrap is fairly instable"
The p and t values for bootstrapped HTMT fluctuate largely (20%) between n = 500 bootstraps

[2018-06-14 07:44] soumyaray commented on #75
how about if n=2000 or 3000?

[2018-06-14 07:58] NicholasDanks commented on #75
boots = 2000
[code]

[2018-06-14 08:02] soumyaray commented on #75
perhaps we can leave a warning message about HTMT if boots < 2000?

[2018-06-26 03:48] #72 closed

[2018-07-06 05:54] NicholasDanks opened #77 "return object naming"
in estimate_pls() return object change name of interactions from "mobi_xm" to "interactions"

[2018-10-09 08:25] storopoli opened #84 "Bug in bootstrapped interactions with PLSc"
[code]

Gives this error

this is my names(data)
[code]

[2018-10-09 08:31] soumyaray commented on #84
Hi @storopoli thanks for reporting this. We'll try to recreate the problem as best we can ourselves first. Quick question: before you constructed this full model, did you get it working on any simpler versions of this model yet? (e.g., without interaction or with fewer constructs)

[2018-10-09 08:59] storopoli commented on #84
I've managed one time to make it work with just paths from IP to Acquiescence, Compromise, Avoid, Defy, Manipulate. No interactions.
Unfortunately, I cannot provide the data because it's from my PhD Student's dissertation.

[2018-10-09 10:06] storopoli commented on #84
I've shortened as a primary option, but I was getting the error so I thought that maybe if I explicitly wrote the paths would solve it. Thanks!

[2018-10-09 19:41] storopoli commented on #84
Same with my other PhD Student thesis

[code]

  incorrect number of dimensions

[2018-10-10 03:42] NicholasDanks commented on #84
Dear @storopoli I hope you are well.
I have attended to the bug in the code. This is a simple solution and we will strive to submit a fully corrected and tested seminr package to CRAN ASAP. In the interim, you can do the following:

(1) Run ```devtools::install_github("sem-in-r/seminr", ref = "single_item_interactions")``` to install the latest version from the branch attending to this bug.

(2) C

[2018-10-10 08:06] storopoli commented on #84
Dear @NicholasDanks,
Thank you for the swift reply.
I've installed the version you specified.

In both tries with the two models (from both PhD Students) I get the same error

[code]

[2018-10-10 10:58] storopoli commented on #84
Don't know if this helps. But this is are the names of my dataset

`names(data)`
[code]

[2018-10-11 13:55] NicholasDanks commented on #84
Dear @storopoli
I believe the latest updates have attended to the bug. Can I ask you to try re-install the package using
```devtools::install_github("sem-in-r/seminr", ref = "single_item_interactions")```
and run the models.
Please let us know if you still encounter any problems.

[2018-10-11 17:53] storopoli commented on #84
Dear @NicholasDanks
I am still getting an error
[code]

[2018-10-12 09:41] soumyaray commented on #84
Hi @storopoli could you kindly run it one more time to reproduce that error, and then at the console immediately run: `traceback()`

That should give us an idea of which line and path of execution is causing the problem.

[2018-10-12 12:29] storopoli commented on #84
@soumyaray
Of course, here it is
[code]

[2018-10-12 12:43] soumyaray commented on #84
Hi @storopoli could you kindly run a few tests for us?

1. Please reproduce that error you got, and then at the console immediately run: `traceback()` –– That should give us an idea of which line and path of execution is causing the problem.

2. Can you confirm that if you replace the single-item moderator with another multi-item construct, that everything works? Just want to make sure that its th

[2018-10-12 16:04] storopoli commented on #84
@soumyaray
Sure

1) The traceback is the same
[code]

2) I've managed to make the Moderator Construct as a multi-item formative construct
[code]
I get an error and here is traceback()
[code]

3)Also getting the same error
[code]
And here is the error and traceback()
[code]

I am attaching the dataset and the code for you to see

[R SEMinR.zip](https://github.com/sem-in-r/seminr/files/2473782/R.SEM

[2018-10-16 12:09] soumyaray commented on #84
Dear @storopoli thanks to your files, we have fixed the issue — we'll send a resolution in the next 24 hours. Thanks for your patience!

[2018-10-16 13:18] storopoli commented on #84
Thank you looking forward to it

[2018-10-17 01:59] NicholasDanks commented on #84
Dear @stropoli, thank you for providing your code and data to allow us to resolve this issue.

We found a couple of issues:
We had to fix how we estimate models with single-item constructs involved in interactions.
The xlsx library was creating an unusual object that created further problems.

The single_item_interaction branch resolves problem (a) above. Please use this branch until we release a

[2018-10-17 13:49] storopoli commented on #84
Dear @NicholasDanks
Thank you! Unfortunately i cannot get the p-values from the LVs paths because of the impossibility of bootstrapping. But I'll wait anxiously for this issue to be discussed and resolved.

Regards,

[2018-10-18 03:10] soumyaray commented on #84
Thank you again for your assistance @storopoli

If you choose to go with the all composites approach (as shown in the code @NicholasDanks posted), then the bootstrapping will work fine.  I don't think this will cause any concern from journals as the overwhelming majority of PLS papers only use composites (mode A or mode B), and very few expect papers to use consistent-PLS (PLSc) to model common fa

[2018-11-06 08:30] NicholasDanks opened #90 "Bootstrap indirect effects for mediation tests."
- [x] Modify bootstrap_model() method to include indirect effects
- [x] ??? Modify bootstrap_model method to include total effects
- [ ] Cite Zhao et al (2010)
- [ ] Use Zhao et al (2010) to make conclusion about mediation?
- [ ] Do we need to bootstrap total effects?

[2018-11-08 03:47] #66 closed

[2019-03-29 02:29] NicholasDanks commented on #74
Neither. They are constructions Becker et al. (2018)

[2019-03-29 02:29] #74 closed

[2019-03-29 02:29] #68 closed

[2019-04-10 08:39] #84 closed

[2019-04-10 08:39] #71 closed

[2019-04-26 07:18] soumyaray opened #101 "Structural model must use every construct of measurement model"
It seems our structural model must use every item of our measurement model — must this be the case?  It would be nice to create many different structural models from a single measurement model.

E.g.:
[code]

`estimate_pls()` reports:
[code]

[2019-05-01 06:48] NicholasDanks commented on #101
Resolved.

[2019-05-01 08:02] soumyaray commented on #101
THANKS!  I'll issue a PR sometime with a demo example of alternative models.

[2019-05-01 08:29] NicholasDanks commented on #101
summary function still fails

[2019-05-08 02:05] NicholasDanks opened #106 "Create a CHANGELOG file"
https://keepachangelog.com/en/1.0.0/

[2019-05-08 02:05] #101 closed

[2019-05-08 02:05] #77 closed

[2019-05-08 02:06] #69 closed

[2019-05-08 02:20] soumyaray commented on #75
Is this resolvable with a warning message for boots < 2000?  Not sure if warning should go in bootstrapping function or in print.summary function for HTMT.

[2019-06-19 11:34] soumyaray opened #108 "README: link to vignettes is broken"

[2019-06-20 06:42] NicholasDanks opened #110 "SEMinR should handle ordinal and nominal categorical variables"

[2019-07-13 09:11] soumyaray opened #111 "Bootstrapping fails for certain model+data: "2 nodes produced errors; first error: system is computationally singular""
User has reported one combination of model+data that causes bootstrapping to fail for nboot >= 300.  Contact @soumyaray for example of model+data

I was able to reproduce the error the user reported during repeated bootstrapping tests:
[code]

On rare occasions, I also encountered:
[code]

Error does not seem to occur for nboot=100, but rather for nboot=300 or 400

Setting bootstrapping seed (e.g.

[2019-07-15 06:19] soumyaray commented on #111
UPDATE:  It seems this is an issue only with bootstrapping PLSc (consistent) models using reflective common factors. We are

The problem is due to the unreliability of rhoA (required for PLSc adjustments) with lower values of rhoA such as 0.7. Unfortunately there is no literature yet to support what to do in these situations. We have replicated the problem in SmartPLS (it seems to discard these pr

[2019-08-27 02:33] NicholasDanks opened #112 "Report useful confidence intervals and significance tables of weights, loadings, and for mediated and indirect paths"
Present output tables for CIs for outer weights, outer loadings, indirect paths @Daniel McKay "SEMinR - PLS for R" fb group

[2019-09-16 07:11] NicholasDanks commented on #75
This problem is due to the possibility that HTMT can create NAs when taking the square root of a negative number. The implemented solution is to take the absolute values of correlations before meaning the correlations in the formula. This normalizes the formula between 0 - 1 and does not affect the meaning of HTMT.
In bootstrap subsamples where the correlations can vary wildly this will turn up.

[2019-09-16 07:12] NicholasDanks commented on #75
@soumyaray close issue?

[2019-09-17 06:27] #108 closed

[2019-09-19 04:38] #106 closed

[2019-09-19 04:43] NicholasDanks commented on #75
We assume typical unidimensionality of reflective constructs for which HTMT is only applicable. In these cases, all items should load onto the construct in the same direction. If they don't, this might have specific reasons like reverse coded items in most of the situations. If we would treat the resulting negative correlations indeed as negative, HTMT would not be correct. Of course, this assumes

[2019-09-19 04:43] #75 closed

[2019-09-19 05:26] #64 closed

[2019-09-19 05:30] #56 closed

[2019-09-19 05:31] #61 closed

[2019-09-19 06:09] #27 closed

[2019-09-19 06:44] NicholasDanks commented on #54
- [ ] Also item descriptives
- [ ] kurtosis
- [ ] observation sd
- [ ] min, max, median
- [ ] skewness
- [ ] item correlations

[2019-09-20 09:35] #54 closed

[2019-09-24 03:04] #112 closed

[2019-09-24 03:45] NicholasDanks opened #121 "Update code syntax"
Change the syntax for interacting with SEMinR such that:
- [x] the interactions() function and syntax is deprecated
- [x] new construct types are created:
- [x] interaction
- [x] higher_composite
- [x] two_stage default for both new constructs
- [x] instead of a matrix constructs() returns a named list
- [x] create a print.measurement_model() S3 method to convert named list to matrix for ease of r

[2019-09-24 17:22] soumyaray opened #122 "Evaluate and report effect sizes"
From Daniel McKay (FB group for SEMinR):

[2019-09-24 17:25] soumyaray commented on #122
Here's a quick-n-dirty function to compute f-squared for a given iv-dv pair of an estimated model:

[code]

Usage (see [seminr-ecsi](https://github.com/sem-in-r/seminr/blob/master/demo/seminr-ecsi.R) demo for making the model):

[code]

[2019-09-24 17:28] soumyaray commented on #122
@NicholasDanks I'll issue a PR for this shortly — we can discuss there.

[2019-09-27 05:50] #122 closed

[2019-09-27 05:51] #121 closed

[2019-09-27 05:51] #111 closed

[2019-09-27 05:52] soumyaray commented on #90
Before we close this.. could we use Zhao's flowchart logic to also refer to what type of mediation is at hand?

[2019-09-27 05:55] NicholasDanks commented on #90
Absolutely. And we need to have a good think about whether there is a need for bootstrapped TOTAL effects and all possible INDIRECT effects.

[2019-09-27 15:48] soumyaray commented on #90
Why are we modifying bootstrap_model?

[2020-04-06 14:35] singhmanish2999 commented on #10
Dear Sir /Mam,
I am getting an error while using summary function on my seminr model as follows. However, it's working fine on your model.

Error in seminr_model$outer_weights[mmMatrix[mmMatrix[, "construct"] ==  :
  subscript out of bounds

 Total Iterations: 7
Path Coefficients:
             Expectation Satisfaction Loyalty Quality Value Complaints
R^2                0.255        0.864   0.735

[2020-04-06 14:47] singhmanish2999 opened #130 "an error while using summary function"
Dear Sir /Mam,
I am getting an error while using summary function on my seminr model as follows. However, it's working fine on your model.

summary(phd_pls)
Error in seminr_model$outer_weights[mmMatrix[mmMatrix[, "construct"] == :
subscript out of bounds
summary(mobi_pls)

Total Iterations: 7
Path Coefficients:
Expectation Satisfaction Loyalty Quality Value Complaints
R^2 0.255 0.864 0.735 0.311 0

[2020-04-06 17:56] singhmanish2999 commented on #130
Dear Sir/Mam,
A similar kind of error report is coming out when fquare to be calculated for a mediating variable "KnowTech" and dependent variable "KnowShare".

fSquared(phd_pls, "OCTAPACE", "KnowShare")
[1] 0.4046501

Error in seminr_model$outer_weights[mmMatrix[mmMatrix[, "construct"] ==  :
  subscript out of bounds

[1] 0.001482841
Regards

[2020-04-06 18:02] soumyaray commented on #130
Thanks for bring it to our attention @singhmanish2999

We will likely need more information about your model and data to resolve this issue.  Could you send me an email (you can find it in my profile at https://github.com/soumyaray ) so that we can  share relevant information?

[2020-04-16 18:56] stevenhurwitt opened #131 "Disparity with SmartPLS"
I saw on the SmartPLS forum that this package is tested and compared to SmartPLS, however I'm getting different results using each method for the mobi dataset.

![mobi_path_coef_seminr](https://user-images.githubusercontent.com/7502272/79495324-0d463080-7fea-11ea-9dcf-6f4c55912921.PNG)
![smartpls_mobi_data](https://user-images.githubusercontent.com/7502272/79495326-0ddec700-7fea-11ea-95b2-a468e9c0

[2020-04-16 19:03] stevenhurwitt opened #132 "Comparison with lavaan?"
This might be a dumb question, but is it possible to use PLS with the same models as covariance-based methods such as those used in the lavaan package? I'm a little confused how the model structures translate (if they do).

For example the political_democracy data uses the model:

[code]

But for PLS it looks like everything needs to be explicit variables when setting the structural and measuremen

[2020-04-16 19:10] stevenhurwitt commented on #131
interesting to note that the SmartPLS results seem to (mostly) match up with the semPLS results [here](https://www.researchgate.net/publication/267204270_semPLS_Structural_Equation_Modeling_Using_Partial_Least_Squares)

[2020-04-16 20:53] soumyaray commented on #131
Hi @stevenhurwitt -- thanks for your feedback.  Can I ask for the SEMinR code you are using?

[2020-04-16 21:31] soumyaray commented on #132
Please keep asking questions -- they are good ones!

1. Just to be sure, note that PLS path modeling (PLS-PM) is not the same as PLS regression (PLSR). PLS path modeling constructs as composites (a kind of formative construct) using weighted sums of measurement items. In SEMinR, we define composites using the using the `composite()` function.

2. PLS-PM cannot natively model reflective "common fac

[2020-04-16 22:08] soumyaray commented on #130
Greetings @singhmanish2999 kindly let me know if this issue persists or else I will close it soon.

[2020-04-17 00:35] stevenhurwitt commented on #132
Thanks for the clarification and reference! Helps me understand the software better and I’ll def look more into this and share with my collaborators

[2020-04-17 00:36] stevenhurwitt commented on #131
thanks for this, I didn’t even think about the differences between those. I’ll have to tweak the model and play with it. I was just using the code in the docs which mixes mode_a and mode_b for different variables

[2020-04-17 05:09] soumyaray commented on #131
Sure @stevenhurwitt -- I'll keep this issue open for a while longer. Please report back whether you resolve it or if it continues to be an issue.

[2020-04-17 05:16] soumyaray commented on #132
Sure thing @stevenhurwitt -- I'll close the issue for now as it is not a problem with SEMinR. But you are more than welcome to keep the discussion going here to resolve any further conceptual questions.

Please note that we also have a Facebook group where you can post questions, though Github is the preferred place if you have to post code: https://www.facebook.com/groups/seminr/

[2020-04-17 05:16] #132 closed

[2020-04-19 09:42] singhmanish2999 commented on #130
hi
The problem still remains..
I am trying to solve it.

[2020-04-19 18:11] soumyaray commented on #130
Hi @singhmanish2999 -- we can help!  Feel free to share any information (such as your code) that we can use to help you resolve it. And feel free to contact us privately if you need. If we don't hear back in some time, we will have to close the issue.

[2020-04-21 00:14] stevenhurwitt commented on #131
![mobie_path_coef_seminr_2](https://user-images.githubusercontent.com/7502272/79811228-d437f400-833a-11ea-8eff-b2350c1ae991.PNG)

got it! using the following code indeed matches up with the path coefficients and outer loadings:

`#create measurement model matrix
mobi_mm <- constructs(
  composite("Image",         multi_items("IMAG", 1:5), weights = mode_A),
  composite("Expectation",   multi_items

[2020-04-21 02:48] soumyaray commented on #131
Good stuff!  Nice use of higher order constructs as well. Let us know if you have any other concerns or questions.

[2020-04-21 07:16] soumyaray opened #133 "Add CBSEM support"
To live fully up to its name, SEMinR should also have some support for CBSEM models. We can use LAVAAN to estimate models.

[2020-04-22 05:16] soumyaray opened #134 "Order of construct class names"
Object classes should be in order of most specific to least specific to support inheritance

Constructs currently have classes:
`c("character", "construct", "composite")`

This should be reversed and shortened to:
`c("composite", "construct")`

Making this change for all constructs creates test errors.

One problem is the line in `specify_constructs.R`:
`31: names(return_list) <- lapply(return_lis

[2020-04-22 05:26] soumyaray commented on #134
may not be necessary immediately -- but let's discuss

[2020-04-22 06:51] soumyaray commented on #134
Hmm, this suggests otherwise: that the order should be grandest-parent —> grandest-child
https://www.r-bloggers.com/simple-yet-elegant-object-oriented-programming-in-r-with-s3/

[2020-04-24 21:24] soumyaray commented on #133
PR #135 is looking into this

[2020-04-27 02:41] Arturocano997 opened #136 "Saving outputs"
Allowing the user to **_save_** the results from "summary(model) after running "estimate_cbsem (model)" in an Excel format (.csv) will be helpful because many times it is necessary to edit tables (add titles, footnotes, etc) and a common place to do so is on a spreadsheet.

Below the code:

[code]

[2020-04-27 03:13] soumyaray commented on #136
@Arturocano997 thanks for the input!  Its been on my mind. Would a CSV or an Excel file (XLSX) work better? Other than paths, what other file outputs would you like to see?

[2020-04-27 03:56] Arturocano997 commented on #136
Your project is definitely a great shortcut for people without much understanding of the technical workings of cbsem :). Here is a _working list_ of things that may be good to consider. Again, please take this as a potential complement to this already great project:

1. Fit indices - It is possible to see some fit indices in an organized way with `summary()`. However, it could be the case that som

[2020-04-27 04:29] soumyaray commented on #136
1. Fit indices

I'm happy to try and show ALL indices if you an suggest a format. Or else I can try to rig up some table type structure. In the meantime, if you type `cbsem_sum$fit$` and then hit <tab>, you will see a dropdown with all fit metrics listed. You can also select a metric as: `cbsem$fit$aic` (for AIC)

BTW, which 'must have' indices do you feel the summary show by default?

2. Path sig

[2020-04-28 08:55] NicholasDanks commented on #130
Related issue:

[2020-04-28 08:58] NicholasDanks commented on #130
Dear All

Thank you very kindly for your contribution to improving the SEMinR package and as always we value your feedback.
Your feedback has helped us to identify a bug in the code that calculates fSquared for structural model paths.
Essentially the bug is this: When there is a single path, the code tries to calculate the model parameters when that path is removed, and there are no resulting path

[2020-04-28 09:50] NicholasDanks commented on #130
To those following this Issue. The bug is patched and we are testing and deploying, but this might take a while. In the interim please download the patched version:
[code]

[2020-04-30 08:35] NicholasDanks commented on #130
@ All. We will add some features soon, and bump the version of the package. We will bundle this bugfix with that version bump.

[2020-04-30 08:35] #130 closed

[2020-05-12 03:00] stevenhurwitt commented on #131
Hey,

I'm running into this issue again. I'm running my code with composite factors using mode A:

![df9_pls_syntax](https://user-images.githubusercontent.com/7502272/81633482-798e3700-93d2-11ea-99fa-3eff974fe31f.PNG)

But the results are slightly different than what I get using SmartPLS. Results from seminr:

![df9_pls_output](https://user-images.githubusercontent.com/7502272/81633510-8dd23400-93

[2020-05-12 05:09] soumyaray commented on #131
Thanks for the update. We’re looking into it. First, can i ask if “Self” is the same as feedback self-efficacy? it seems to have three outgoing paths in the SmartPLS model but only one in the seminr model?

[2020-05-12 13:23] NicholasDanks commented on #131
Hi Stephen

Great to hear from you again.
I ran the following code:
[code]

[2020-05-12 14:19] stevenhurwitt commented on #131
thanks y'all, looks like it is!

[2020-05-12 14:19] #131 closed

[2020-05-12 17:02] soumyaray commented on #131
Hi @stevenhurwitt -- just to followup on this question, you can get reliability/validity metrics of your PLS model estimation by calling the `summary()` function and giving it your estimated PLS model.

[code]

Note that we supply AVE, and CR as rhoC or rhoA. We don't supply Cronbach Alpha and you will find recent literature discouraging its use (let us know if you need some references).

For even

[2020-05-12 18:16] stevenhurwitt commented on #131
thanks for this, wasn't sure if i was just missing Cronbach's Alpha or what - thanks for the info!

[2020-05-26 01:00] soumyaray opened #140 "Create visual graph of SEM"
Create a visual SEM model using structural model. Perhaps use simple heuristic for construct positions, before allowing users to customize positioning.

[2020-05-26 01:03] soumyaray commented on #140
Resources for Graphviz positioning of elements:
- left-to-right ordering: https://stackoverflow.com/questions/1554635/graphviz-how-to-have-a-subgraph-be-left-to-right-when-main-graph-is-top-to-bot/1878890#1878890
- Arrows to path: https://stackoverflow.com/questions/42253444/join-nodes-to-edges-in-r-graphviz

[2020-06-08 19:47] soumyaray opened #141 "Report p-values for PLS bootstrapping"
[from user email request]

"I have a quick question about getting p-values for the structural paths in the bootstrap summary report. In the example shown in your SEMinR document, on the following items are shown: Original est., bootstrap mean, bootstrap SD, T stat, 2.5% CI, 97.5% CI. So, which is the p-value? Thank you for your explanation in advance."

[2020-06-08 20:00] soumyaray commented on #141
There is some difficulty in pinning down an appropriate p-value, given that the bootstrapped parameters may not follow a perfect t-distribution.

However, if your data does not contain extreme values, we might assume near normality of parameter estimates. If so, we can compute the p-value from the t-value and degrees-of-freedom.

Using the mobi dataset (`mobi`) example:

[code]

[2020-06-11 01:44] Quadrophonia opened #142 ""Subscript out of bounds" error in summary()"
I'm really liking SEMinR! However, I'm having a similar problem to #130 and it persists even though I have installed the patch recommended in that issue ticket.

When I build and run a seminr model, I get the following error:
[code]
This error appears even though I'm only calling the model summary function (i.e. not just the f-square call). The data and model work fine in SmartPLS, so I don't thin

[2020-06-11 03:24] soumyaray commented on #142
Hi there! Thanks for the feedback and I'm delighted you are enjoying SEMinR -- we will look into this issue right away. Could I ask if you could share your data and code for us to reproduce the problem?  We will keep both confidential and delete them as soon as we are done reproducing and fixing the issue.  You may email me at: soumya.ray AT gmail.com

If you cannot share them, we will nonetheless

[2020-06-11 04:56] Quadrophonia commented on #142
Hi Soumya
Thanks for your very quick response! I have emailed you the materials you've requested. Thanks!!

[2020-06-17 06:32] NicholasDanks commented on #142
All tests passing and bug fixed. Thank you very much @Quadrophonia for assisting us in improving SEMinR. We hope that you find the package useful.

[2020-06-26 23:38] soumyaray opened #145 "Add SRMR fit index for CBSEM estimation"
CBSEM does not report SRMR currently?

[2020-06-26 23:47] soumyaray commented on #145
Lavaan reports SRMR so we need to extract that.

[2020-06-26 23:59] soumyaray opened #146 "as.composite() function to convert reflective model into composite one"
as.composite.construct <- function(construct, mode)
as.composite.measurement_model <- function(construct, mode)

[2020-06-27 00:02] soumyaray opened #147 "Handle missing values for PLS-PM"
Adopt SmartPLS options:
- mean replacement
- row-wise deletion
- column-wise deletion (not necessary?)
- row- and column-wise deletion (not necessary?)

[2020-06-28 06:59] soumyaray opened #148 "Singular matrix error when composite has exogenous paths to HOC and 1st-order sub-composite of HOC"
# DESCRIPTION
When a model has an endogenous construct that is predictor of both an endogenous HOC and one of the HOC's 1st order composites, a degenerate condition appears. A singular matrix error results due to the exogenous construct appearing twice on the 1st-order endogenous during 1st stage of 2-stage estimation.

# CODE TO REPRODUCE

[code]

# REASON

During 2-stage estimation (for HOC), th

[2020-06-29 00:57] soumyaray opened #149 "Unused HOC in measurement model causes funny behavior"
Two issues that might be related -- we can split this issue into two if they are not related.

**1st issue:**

A HOC in the measurement model that is not used in the structural model will still trigger 2-stage evaluation:

[code]

The 2-stage is visible from the output of `estimate_pls()`

**2nd Issue:**

Running a summary of the estimated model causes an error:

[code]

[2020-06-30 06:31] soumyaray commented on #147
We should have a missing value parameter for `estimate_pls()`
- should we handle it similarly to lavaan with string value arguments, or function arguments?

[2020-06-30 06:43] soumyaray opened #150 "Support repeated indicators approach to HOC"
- [ ] Use existing `methods` parameter of `higher_order_composite()`
- [ ] Possibly issue a warning that repeated indicators is not always efficient

[2020-06-30 06:54] soumyaray commented on #149
This might also resolve #142 -- if so, please go remove the `intersect()` that we used to fix it.

[2020-06-30 14:31] NicholasDanks commented on #142
We have now merged the bugfix142 branch to the develop branch. We will bump the version very soon. In the interim ```devtools::install_github("https://github.com/sem-in-r/seminr", ref = "develop"``` can be used to install the patched SEMinR. Thank you for helping us to spot and fix this bug.

[2020-06-30 14:31] #142 closed

[2020-06-30 22:26] soumyaray commented on #142
@Quadrophonia We closed this issue and want to explicitly confirm that any data/code you supplied us for the resolution of this bug has been deleted. Please note that a soon upcoming release of SEMinR will also support CBSEM (ala LISREL/AMOS) estimation if that should interest you.

You can follow developments on SEMinR either at this Github repo or on our FB group:
https://www.facebook.com/groups

[2020-06-30 22:28] soumyaray commented on #136
Library that might be useful to put plots into Excel sheets:
https://bert-toolkit.com/r-graphics-in-excel

[2020-07-01 04:11] NicholasDanks opened #151 "Support GSCA estimation of composite models"
Add GSCA estimation for composite modeling
Use Hwang et al.'s GSCA R package

[2020-07-23 11:18] fawad83 opened #153 "Cant locate SEMinR v. 1.1.0"
I am trying to update SEMinR package but it gives me the following issues when i try to use install.packages("seminr")

WARNING: Rtools is required to build R packages but is not currently installed. Please download and install the appropriate version of Rtools before proceeding:

Now i have downloaded RTools from the website below and installed it but still same issue
https://cran.r-project.org/b

[2020-07-23 11:20] fawad83 opened #154 "Problem in Bootstrapping"
Hi

I am trying to run the following code but i am encountering the error

#SEMinR
library(seminr)
library("readxl")
DSForR <- read_excel("DSForR.xlsx")
inn_mm <- constructs(
  reflective("INN_P", multi_items("INN_P", 1:4)),
  reflective("INN_M", multi_items("INN_M", 1:4))
)
structure <- relationships(paths(from = "INN_P", to = "INN_M"))
pls <- estimate_pls(data = DSForR, inn_mm, structure)
summar

[2020-07-23 11:32] soumyaray commented on #153
Hi Fawad, so are we correct in assuming that RTools did not install properly? Please close and restart RStudio after installing RTools. If there was an an error message during installing RTools, please provide it here.

We know there is an issue with the latest v1.1.0 not showing up -- it should resolve over the next couple of days.

[2020-07-23 11:37] fawad83 commented on #153
Dear Dr. Soumya

RTools was installed properly.  There was no error. I even restarted my system.

I have tried to update it from Packages section by search for SEMinR alsoi downloaed one from GitUp and tried to install it manually but i get the following and nothing happens. It stops, while with other packages i did get this error but they moved on and packages were updated, where i clicked on upd

[2020-07-24 04:15] soumyaray commented on #154
Hi Fawad, just want to confirm that we are able to replicate the error using your code but our own data. Will get back to you as we make progress.

unrelated note: try to avoid the variable name  `structure`, as that is the name of a function in R already. It likely won't affect your code but could cause a surprise later.

[2020-07-24 04:20] fawad83 commented on #154
Thanks so much. I appreciate your time and support.

On Fri, 24 Jul 2020, 9:15 AM Soumya Ray, <notifications@github.com> wrote:

[2020-07-24 06:34] maoyimin opened #156 "how to get the blindfolding-based crossvalidated redundancy measure Q2"
When I use the seminr 1.1.0, I can not obtain the blindfolding-based crossvalidated redundancy measure Q2. Can you tell me how to get the value of this assessment criteria? Thanks.

[2020-07-24 09:40] soumyaray commented on #154
Fawad, it seems our bootstrapping didn't work well for very simple models with only a single antecedent – I don't know how no one caught this before!!

I believe we have a working fix now. Your options are:
- Just avoid models with only one antecedent (I'm guessing it was a toy model)
- Wait for an upcoming patch (though we might wait to fix some other little things that folks report)
- Or else we

[2020-07-24 09:44] soumyaray commented on #153
Fawad, did you resolve this issue yet?  I saw you faced another bug so I assume you have seminr working somehow.  v1.1.0 is up on cran as of last night (its release was delayed -- sorry) so please try to update again if you need to.

[2020-07-24 09:46] fawad83 commented on #154
Dear Prof. Soumya
Thanks for letting me know. I have recently started learning R. Yes i was just a try. Let me work on it and make a more complex model.

I will be waiting for update on the SEMinR ver 1.1.0.

Thanks for your time. Really Appreciate it.

[2020-07-24 09:47] soumyaray commented on #148
@NicholasDanks are we going to fix this? I think we decided based on external discussion that this was an unidentified case?  I'm closing it for now but feel free to re-open

[2020-07-24 09:47] #148 closed

[2020-07-24 09:55] soumyaray commented on #156
Hi @maoyimin, thanks for using SEMinR and submitting this issue!

As of now we do not support Q2.  I don't want to speak for anyone other contributor/collaborator, but I personally do not think we will offer Q2 in the near future, as I have some methodological qualms about the method. Please see Appendix C of Shmueli et al. (2016) for a critique of Q2 in PLS path models. I have not heard any rebut

[2020-07-24 10:01] fawad83 commented on #153
Dear Prof.

I havent tried that fix of other bug, like with multiple indicators (will do that today).
and Yes now the package is updated. I have SemInR v 1.1.0

Really thankful to you for your patience and support.

Thanks.

[2020-07-24 10:05] soumyaray commented on #150
Use of repeated indicators in HOCs is highly risky: if subcomposites have different number of indicators, then then the subcomposites with more indicators get more importance in the HOC.

More discussion of this problem is found in:
florianschuberth.com/wp-content/uploads/2020/07/PDF_Proof.pdf

For now, I think we won't be adding this feature. @NicholasDanks any thoughts?

[2020-07-24 10:09] soumyaray commented on #153
Great!

[2020-07-24 10:09] #153 closed

[2020-07-24 10:23] fawad83 commented on #154
Hi

I just tried to run the model with multiple IVs but now i am getting a different error.

Bootstrapping model using seminr...
Bootstrapping encountered this ERROR:
incorrect number of dimensions> summary(boot_estimates)

This is my code

#SEMinR
library(seminr)
library("readxl")
DSForR <- read_excel("DSForR.xlsx")
inn_mm <- constructs(
  reflective("INN_P", multi_items("INN_P", 1:4)),
  reflect

[2020-07-24 10:29] soumyaray commented on #154
Yes, I believe we caught this as well (again, one antecedent only) and fixed it as well. If you are only playing around for now, I suggest a model with two antecedents to one (or more) outcomes:

[code]

I'm guessing the two INN_M* constructs are highly correlated, so it may not produce nice results :D

[2020-07-24 10:30] soumyaray commented on #154
I'll double check later, though

[2020-07-24 10:33] fawad83 commented on #154
Wow. It ran. Thanks, sorry silly mistake. From should have been two
antecedent.

Thanks Prof. Appreciate your patience and time. Will now read in more
detail and will ask for help if needed.

Stay Blessed and Stay Safe.

On Fri, Jul 24, 2020 at 3:30 PM Soumya Ray <notifications@github.com> wrote:

[2020-07-24 10:37] soumyaray commented on #154
Best of luck!  Don't hesitate to ask questiosn either on our FB group (general PLS questions) or here (possible bugs or feature requests).

[2020-07-24 10:54] fawad83 commented on #154
Will Surely do. Thanks.

On Fri, Jul 24, 2020 at 3:37 PM Soumya Ray <notifications@github.com> wrote:

[2020-07-26 12:39] maoyimin commented on #156
Thank you for your answer @soumyaray
I think your paper can give me a better understanding of the predictive performance of pls models.
And, I have another question: I can not find the values of the Cronbach’s alpha when I summary the estimated sem models.
I wonder why don't you include it in the summary functions when calculating the reliability scores.
Thanks.

[2020-07-27 02:20] soumyaray commented on #156
Hi @maoyimin, excellent question once again.  But could I kindly ask you to open up a new issue for this new question?  It would greatly help future users/maintainers to search and find the question and response!

[2020-07-27 02:20] #156 closed

[2020-07-27 08:24] maoyimin opened #158 "Provide the Cronbach’s alpha"
Prof. Ray,

I have another question: I can not find the values of the Cronbach’s alpha when I summary the estimated sem models. Although I can obtain the the Cronbach’s alpha by using other packages, like psy r package, I really hope that I can do it within the application of seminr. I wonder why don't you include it in the summary functions when calculating the reliability scores.

Thanks.

[2020-07-27 08:30] soumyaray commented on #158
Hi @maoyimin, thank you for your careful observation.

Cronbach alpha makes some assumptions that all the items of a construct reflect the construct equally well, and so all the items should have the same loading. If this is not true, then Cronbach alpha will underestimate reliability. Composite Reliability (CR, or rhoC) is more favored nowadays as it allows your items to be slightly different in

[2020-07-27 08:44] maoyimin commented on #158
@soumyaray  thank you for your nice response. I will read the papers you suggested, so as to get a deeper understanding of Cronbach alpha.

I think Seminr is a user-friendly package to anyone who attempts to use SEM models.

[2020-07-27 09:08] soumyaray commented on #158
Thanks @maoyimin -- best of luck on your research and don't hesitate to reach out to us.

[2020-07-27 09:08] #158 closed

[2020-08-05 14:22] OmegaPaz opened #160 "Tidy cfa/efa output"
Hello!
I find using seminr very straightforward not only in terms of syntax, but also because all the fit measures are promptly reported. I ran a CFA before also experimenting with PLS, and I noticed the outputs are not easily readable. I was wondering whether there is a way to get a tidier output (perhaps a command to tidy the elements of the summary(cfa_model) )?
For example, the lavaan package

[2020-08-06 06:42] soumyaray commented on #160
Thanks for the feedback @OmegaPaz!

I think getting `broom`'s functions, and `tidy()` in particular, is a great idea that will appeal to beginners and advanced users alike. It would also save us the effort of fighting R's strange digit handling norms (which I honestly cannot get my head around).

I took a look at the `broom` package and it already includes functions to work specifically with `lava

[2020-08-06 09:10] soumyaray commented on #160
Resource to make `broom` compatible functions: https://www.tidymodels.org/learn/develop/broom/

[2020-08-10 10:02] NicholasDanks commented on #154
Corrected by PR #157

[2020-08-10 10:02] #154 closed

[2020-08-10 10:08] fawad83 commented on #154
Hi Prof.

I hope you are keeping well. I am learning SEMinR. I normally use
SMART-PLS. Now while using SEMinR, i noticed that loadings, AVE values are
different between SMART-PLS and SEMinR. I understand the bootstrapping
results also might differ since they are based on random numbers.

On Fri, Jul 24, 2020 at 9:15 AM Soumya Ray <notifications@github.com> wrote:

[2020-08-10 11:16] soumyaray commented on #154
Hi @fawad83,  please see my response to #131 to check if its the same issue. Briefly, try using `composite()` instead of `reflective()` to get the same results as SmartPLS. If my comments to #131 do not address your concern, please start a post a new issue!  And please supply some code for us to try and replicate results. Many thanks for considering SEMinR and hope to hear from you.

[2020-08-10 15:47] fawad83 commented on #154
Dear Prof.

Thanks for your response. I will surely check. One question though,

Composite is for formative constructs, but what if our constructs are
reflective. So if we use Mode A with composite, it will be treated as
reflective?

On Mon, Aug 10, 2020 at 4:16 PM Soumya Ray <notifications@github.com> wrote:

[2020-08-11 01:11] soumyaray commented on #154
@fawad83 SmartPLS uses the terms 'reflective' and 'formative' in different ways than the methodological literature, which is the source of the confusion.  PLS models generally cannot estimate either reflective or formative types of constructs. Both these types of constructs in SmartPLS (or any regular PLS software) are just composites (mode A and mode B, respectively, which denote different types

[2020-08-11 06:09] fawad83 commented on #154
Thanks Prof. A lot clear now. Will ask if i have any confusion.

On Tue, Aug 11, 2020 at 6:11 AM Soumya Ray <notifications@github.com> wrote:

[2020-08-11 06:27] soumyaray commented on #154
Sure thing @fawad83 -- I encourage you to either post to a new issue, or to a closed by relevant issue (ilke #131) instead of here. We hope this discussion can help others but they likely won't look under an issue about bootstrapping about it.

[2020-08-11 12:48] fawad83 commented on #154
Sure Prof. Thanks again for your time.

On Tue, Aug 11, 2020 at 11:27 AM Soumya Ray <notifications@github.com>
wrote:

[2020-08-21 08:59] Lilikon opened #161 "Error in summary(): "Error in new_model$construct_scores[, dimensions] : Subscript out of bounds""
Hi everyone, first of all a huge thank you for your work on this package. I really enjoy working with SEMinR.

Unfortunately, I face an issue with the summary() function similar to issue #142 and it has not resolved with the update to V1.1.0:
[code]

I am unsure why  it seems to be generating the model twice in the output. As in the previous issue, bootstrapping the model works just fine.

I am us

[2020-08-24 08:12] Lilikon commented on #161
Hi Nick,
thank you so much for your help. The model runs now! I will close the issue.

[2020-08-24 08:12] #161 closed

[2020-08-25 15:42] NicholasDanks commented on #161
@Lilikon Please note that there were some bugs in that patch release. I would suggest that you rerun the following and download the now stable beta version:
[code]
Thanks and keep modeling!

[2020-08-25 15:43] #149 closed

[2020-08-25 15:43] #147 closed

[2020-09-01 15:32] Lilikon opened #162 "Provide loadings, weights and reliability for lower-order constructs"
Hi all,

thank you again for your work on this package and your quick help with my last issue.

I am still working with higher_composite constructs and have run into the following problem: When I estimate a PLS model with higher_composite constructs, loadings, weights and reliability are only reported for the paths between the higher-order construct and its associated lower-order constructs. I can

[2020-09-02 05:23] NicholasDanks commented on #162
Dear @Lilikon

Thank you very much for pointing out another very important issue with SEMinR. On the face of it I agree with you that the "lower level" measurement model evaluation is also highly important. Please allow myself and @soumyaray to discuss and devise a solution a for this.

We really appreciate your ongoing support and investigation of the package - you are providing invaluable feedba

[2020-09-07 14:33] NicholasDanks commented on #162
Dear @Lilikon

I'd like to thank you again for bringing up this important issue. This topic requires a little more thinking on how to report results and how to edit the output objects.

[2020-09-08 10:34] Lilikon commented on #162
Dear Nick,

thank you so much for your quick response and the patch. It works great!

Sincerely,
Lilian

[2020-09-13 13:10] kleinjulius opened #163 "Sign Indeterminancy during Bootstrapping"
Hi all,

Thank you for your awesome work on this R Package!

I am running into an issue when trying to assess my PLS model with Bootstrapping. During the bootstrapping analysis, I am obtaining rather wide confidence intervals, indicating that most of the path coefficients and many indicator loadings and weights are statistically non-significant. I am wondering if this may be due to sign indetermin

[2020-09-13 13:25] soumyaray commented on #163
Thanks for the issue submission @kleinjulius !

Are the issues you are facing around a single problematic construct or is it widespread throughout the model?

We will start right away to see about implementing sign-change options.

In the meantime, I might suggest some diagnostic code to help you visualize what kinds of estimates are coming out of the bootstrap.  First, note that for a single path

[2020-09-14 07:44] kleinjulius commented on #163
Hi @soumyaray,

thank you for your hint. The issue occurs across different constructs but varies in its severity. Below I have attached three patterns which occur:

The first one is pretty much in line with what i expected: The path coefficient is negative, with the bootstrap CI containing zero.

![Boot_Path-TZDist-Performance](https://user-images.githubusercontent.com/40066205/93057597-79e35b00-f

[2020-09-25 10:40] DanielMcKayPhD93 opened #164 "Confidence intervals for multiple mediation paths"
Hi there,

Thank you so much for your excellent work on the SEMinR package and for your incredible support over the last year, it is very much appreciated.

I am hoping to run multiple mediation models, with both serial and parallel mediation components. For example, serial mediation entailing predictor(s) -> mediator 1 -> mediator 2 -> mediator 3 -> outcome(s). Parallel mediation: predictors -> m

[2020-09-29 08:25] soumyaray commented on #163
Hi @kleinjulius I'd like to try out some sign change strategies on your dataset.  Kindly email me at soumya [dot] ray [at] gmail [dot] com -- I'd like to discuss this with you in more detail.

[2020-10-07 13:02] soumyaray commented on #164
Hi @DanielMcKayPhD93 always great to hear from you.  I think what you are asking is very doable.  I might contact you by email to clarify some details. Please accept our apologies for the delay -- @NicholasDanks and I have both been busy with a few things but we are looking into this.

[2020-10-22 15:35] NicholasDanks commented on #164
Dear Daniel

My apologies for delay in responding to you.
As always, thank you for your ongoing support and help with improving the package.
I have updated functionality to provide the features you need, but we have not yet updated the version as we are preparing for a new major release.
For now you can run:
[code]
to install the beta version from github. You can then use the following code to acc

[2020-10-24 07:47] DanielMcKayPhD93 commented on #164
Dear Nicholas,

Thank you so much for this, I can’t wait to use this next week! I hugely appreciate the time and effort you have both put into this, and helping me!

Take care
Best wishes
Daniel

[2020-11-22 15:03] Mo-C1 opened #167 "Unable to calculate HOC: reciprocal condition number = 0"
Hi all,

As mentioned in the facebook post, I am entirely new to R, PLS-SEM and GitHub. So first thanks for putting together this package 👍

I am trying to build a HOC using the two_stage method, I run into the following problem when trying to estimate the model:

`Error in solve.default(construct_score_cors[c(independant, dependant[i]), :
system is computationally singular: reciprocal condition n

[2020-11-23 12:13] NicholasDanks commented on #167
Dear Moritz

It's great to hear from you. We're really happy that you are finding our package useful.
As a first attempt, I made a substitute dataset on which to run your model:
[code]
Using this substitute dataset I can get your model to estimate - so it seems this is not a coding bug but a data bug.
Can I ask for you to email me the correlation matrix for your raw data? I could then simulate a d

[2020-11-24 14:44] Mo-C1 commented on #167
Dear Nicholas

Thank you for the fast and friendly reply. I provide you with the real, but
shortened and anonymized dataset to make things easier. The same error
occurs.
FYI: -77 is the value for "respondent entered no data".

Your help is much appreciated.

Best,
Moritz

Am Mo., 23. Nov. 2020 um 13:13 Uhr schrieb Nicholas Danks <
notifications@github.com>:

[2020-11-26 11:16] NicholasDanks commented on #167
Dear Moritz

I would like to have a look and try to solve this issue you are encountering. Where did you say you had provided the data? Will you email it to me?

Kind regards,
Nick

[2020-11-26 11:39] Mo-C1 commented on #167
Hi Nicholas,

I’ve sent it in my previous email, as you suggested.

Shall I send the file again?

Best
Moritz

[2020-11-26 11:43] NicholasDanks commented on #167
Dear Moritz

Could you send it to me at nicholasdanks@hotmail.com?

Kind regards,
Nick

[2020-12-01 16:34] NicholasDanks commented on #167
Dear Moritz

I hope you are well. Has this issue been resolved?
Please close the issue if it has.

Happy modeling!

[2020-12-01 16:35] NicholasDanks commented on #164
Dear Daniel

I hope you are well.
Is this issue resolved? If so, please close the issue.

Happy modeling!

[2020-12-01 16:38] NicholasDanks commented on #162
Hi Lilian

I hope you are well. Is this issue resolved?
If so, please do close the issue.

Happy modeling!

[2020-12-01 17:35] #164 closed

[2020-12-01 17:38] DanielMcKayPhD93 commented on #164
Dear Nicholas,

Many thanks for resolving this issue, it is greatly appreciated. Apologies for not closing the issue sooner and thanks for pointing this out, I am quite a new user of GitHub and never knew to do this.

Thanks for pointing this out, and again for all of your support. :)

With all best wishes,
Daniel

[2020-12-02 06:00] Mo-C1 commented on #167
Hi Nicholas,

thank you so much for your help and sorry for my belated reply.
I tried to run the code you suggested, but obtain an error when trying to run the clean_survey_data function:

`clean_survey_data <- seminr:::mean_replacement(surveyData[,c(multi_items("v_", 107:114),`
`+                                                              multi_items("v_", 115:121),`
`+

[2020-12-02 13:20] Lilikon commented on #162
Dear Nick,

sorry for not closing the issue thus far. I was under the assumption that the patch was only a preliminary solution - even though it worked very well. One exception to that: Even with the patch, it is still not possible to access information on the bootstrap results for the first order model.

If you would like, I can still close the issue and open a new one concerning the access to bo

[2020-12-02 14:57] NicholasDanks commented on #167
Dear Moritz

I apologize, I made a mistake in the code. Please try this:

mean_replacement <- function(data) {
  for (i in 1:ncol(data)) {
    colmean <- mean(data[,i][!(is.na(data[,i]))])
    data[,i][is.na(data[,i])] <- colmean
  }
  return(data)
}

surveyData <- read.csv2("data_project_832063_2020_11_23_mod3.csv")
missing_value = -77
surveyData[surveyData == missing_value] <- NA

clean_survey_d

[2020-12-02 15:22] NicholasDanks commented on #162
Dear Lilian

Thanks for the reply. What would you like to see regarding the first stage? The first stage is just to generate the construct scores for the second stage.
Please do let us know if we can improve the reporting.
Thanks!

Kind regards,

Nicholas Patrick Danks
PhD.

On Dec 2, 2020, at 1:20 PM, Lilikon <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear Nick,

sorry fo

[2020-12-03 13:09] Lilikon commented on #162
Dear Nicholas,

allow me to elaborate. In a "simple" PLS model, SEMinR provides data on loadings, weights and reliability for the original estimate measurement model, i.e., the relation between constructs and indicators as defined by the composite specification. With the patch, I can now also access loadings, weights and reliability for the indicators measuring the first-order (or lower-order) con

[2020-12-08 14:58] BenediktAllendorf opened #169 "Errors with (README) examples"
I checked out the examples and found a few things I wanted to share! :)

### Missing bracket
[code]
should probably be (notice the additional closing bracket):
[code]

Both in https://github.com/sem-in-r/seminr/blob/master/README.Rmd#L253 and https://github.com/sem-in-r/seminr/blob/master/README.Rmd#L58

### Non-existing variable name
`summary(mobi_pls)` should be `summary(pls_model)` in https://g

[2020-12-08 16:04] NicholasDanks commented on #169
Dear Benedikt

Thank you very much for taking the time to notify us about these bugs. I have now corrected them as per your suggestions and the code in the Readme should be running well.
Please reinstall the branch "Primer_preparation" by using:
[code]
If you can confirm that you also can execute these examples correctly, then please do close the issue.

Thanks again and happy modeling!
Kind regar

[2020-12-09 11:03] BenediktAllendorf commented on #169
Thanks for your fast reply! I checked it out and everything works smoothly now! 👍

[2020-12-09 11:03] #169 closed

[2020-12-15 10:30] soumyaray commented on #140
@Sumidu @JohannesNakayama we've had this issue open for a while -- feel free to reference this issue in any PR :)

[2020-12-15 10:41] soumyaray opened #172 "Migrate CI from Travis to Github Actions"
Recent terms from Travis CI suggests that OSS projects no longer get indefinite builds.
https://devclass.com/2020/11/25/travis-ci-open-source-engagement/

@NicholasDanks we should either apply for OSS allotment, or consider moving to Github Actions, since we seem to be staying on the Github Platform anyway. If there is support for moving to Github Actions, I can take charge of initiating that chan

[2020-12-24 01:20] Arturocano997 opened #176 "Error with summary() function – second order composites"
Hello!

The next error appears when trying to include summary(pls_model) into an object.

Warning message:
In stats::cor(seminr_model$data) : the standard deviation is zero

Does it mean there is an error with my model or is it a bug from the program?

thanks

[2020-12-24 01:25] soumyaray commented on #176
Hi @Arturocano997 if you do a `cor(your_data)` outside of seminr, do you get an error?

[2020-12-24 01:27] Arturocano997 commented on #176
Thanks for your quick response Soumya.
I just tried the correlation function and no error appears!

[2020-12-24 01:29] Arturocano997 commented on #176
Wait a minute, it seems I missed something before. Indeed, the same error appears! So there must be a problem with the data I suppose, right?

[2020-12-24 01:31] soumyaray commented on #176
yes! then its something wrong in the data — you can running cor() on groups of columns at a time to identify which one is causing the problems.

[2020-12-24 01:33] soumyaray commented on #176
I'll close this issue for now but feel free to reopen it if you find something else that might be model or seminr related.

[2020-12-24 01:33] #176 closed

[2021-01-09 11:59] NicholasDanks commented on #162
Dear Lilian

Thank you again for the ongoing assistance.
I believe we have now made some changes and updates that address (mostly) what you are in need of.

I refer to the Table 7 in the article: M. Sarstedt, J.F. Hair Jr and J.-H. Cheah et al., How to specify, estimate, and validate higher-order constructs in PLS-SEM, Australasian Marketing Journal, https://doi.org/10.1016/j.ausmj.2019.05.003

*M

[2021-01-09 12:01] #167 closed

[2021-01-14 14:36] Sumidu opened #188 "add a construct_type variable to model objects to simplify determining arrow direction in plots"
When creating a plot, we use the measurement_model element of the model object, which is not very consistent in its constituent elements. This requires multiple if statements and corner cases to determine the arrow direction. An "easier" solution would have the construct_types as a part of the model object.

[2021-01-14 14:41] Sumidu commented on #188
Actually, forget about it, we need to discuss this before changing something :)

[2021-01-14 14:41] #188 closed

[2021-01-18 14:05] Lilikon commented on #162
Hi Nick,

thank you so much for your assistance. I just had the occasion to test your changes on a new dataset and it works like a dream. Therefore, I will now close the issue.

A belated happy new year to you as well and many thanks again!
Lilian

[2021-01-18 14:05] #162 closed

[2021-03-24 12:18] #172 closed

[2021-03-24 13:22] NicholasDanks opened #205 "PLSc bootstrap errors with HOC"
My model includes PLsc and HOC. I get an error when estimating the model.

[2021-04-25 08:30] NicholasDanks opened #209 "MKL CRAN test"
Why did this test fail on MKL??

But with MKL this still does not pass with:

MKL still

Running the tests in ‘tests/testthat.R’ failed.
Complete output:

 ══ Failed tests ════════════════════════════════════════════════════════════════
 ── Failure (test-imported-lavaan.R:34:3): Same seminr structural model and results are produced ──
 identical(seminr_cbsem_report$paths, lav_cbsem_report$paths) i

[2021-04-28 14:39] NicholasDanks opened #213 "save_plot() not working on cb-sem models with HOC and moderation"
I receive the following error when I try to save a cb-sem plot with HOC or moderation:
[code]

[2021-04-28 14:45] NicholasDanks opened #214 "summary() does not work on CB-SEM models including a higher_reflective() term"
I receive this error when I run summary() on a model including higher_reflective constructs:
```Error in `[.data.frame`(object$data, , model$item_names) : undefined columns selected```

[2021-04-28 14:47] soumyaray commented on #213
Only for HOF or moderation, or for other instances as well?  I had the same issue recently with regular estimated cbsem models.

@Sumidu would know better the cause.

My stopgap solution was to save the objects using the following code:

[code]
Note that the file gets written on `dev.off()`

[2021-04-28 20:07] Sumidu commented on #213
I think it is because the save_plot function is designed to write the DiagrammeR plots.
I could add a branch for semPlot in there.

[2021-05-18 14:44] maoyimin opened #218 "how to get the latent variable scores"
Sometimes, we need to get the latent variable scores  and use them in the subsequent analysis. It can be easily achieved in the Smartpls, but I can not find the relative functions in Seminr.

[2021-05-18 14:52] soumyaray commented on #218
Thank you for using SEMinR!  You can get construct scores quite easily from your estimated model object:

[code]

Do let us know if the above works.  If the above does not work for you, for any reason, could you kindly share the code for your model (you may rename constructs to keep the theory confidential)?

[2021-06-03 17:40] robertogilsaura opened #222 "error in pls_predict with HCO"
Hi, I'm trying to get predictions in seminR model using `predict_pls` with HCO, but i get an error relate with parallel package:

`Error in parallel::stopCluster(cl) : object 'cl' not found`

I assume that the error is related to the HCO (other simple models run properly), but I cannot understand what the problem is, since I do not relate the message error to the analysis performed. In my model ob

[2021-06-09 07:19] soumyaray commented on #218
@maoyimin does the above response solve your issue? I'll close this issue for now but feel free to reply or reopen it if it does not address your concern.

[2021-06-09 07:19] #218 closed

[2021-06-10 03:58] NicholasDanks commented on #222
Dear @robertogilsaura

Thank you for your interest in SEMinR!
First, my apologies for the delayed response-this has been a busy year. I am sorry that you have encountered this bug. Unfortunately, there is no accepted or documented method for generating predictions from a PLS model that includes higher-order-composites (or non-linear terms).
On the face of it, it seems simple to conduct the predict

[2021-06-10 10:01] robertogilsaura commented on #222
Hi Mr Danks.

Very grateful for his response. I share with you how busy and difficult this year was for everyone.

I will use the HCO score values for the prediction.

You really do a magnificent job that from the scientific community we never appreciate enough. I look forward to those news.

Thank you.

[2021-06-10 10:10] soumyaray commented on #222
Thanks @robertogilsaura for bringing this to our attention and thanks @NicholasDanks for attending to it.  I too await to see how we will handle HOCs and non-linear terms in future :)

I will reopen this issue so that it stays on our list of things to do.

[2021-06-14 03:09] soumyaray opened #223 "semPlot not installing correctly"
[From student feedback comments in BACS2021 @ NTHU]

SEMinR keeps asking for semPlot to be installed, even after they have accepted and let it be installed. Installing semPlot using install.packages() is also problematic because it needs more packages (statsmod?) – which might be why installing it from seminr isn’t working fully.

[2021-06-14 03:09] soumyaray opened #224 "Errors regarding item names are unfriendly"
[Student feedback from BACS2021 @ NTHU]

- Some students noted that constructs cannot have the same name as items – this is good and we should NOT fix it, because in CB-SEM users may indeed want to refer to items directly in their structural models. But should we issue a warning?

- Misspelling an item name gives an unfriendly warning about data matrices; I would be cautious about fixing this by g

[2021-07-07 03:33] NicholasDanks opened #225 "estimate_cbsem() does not return significance of loadings"
*Problem:*
If I estimate the model:
lavaan_seminr_model <- summary(estimate_cbsem(data = my_data, as.reflective(measurement_model[[i]]), structural_model[[i]]))
the model object contains the loadings values, but not the SD, CI, or significances.
*Pain:*
We need this output to evaluate the quality of the measurement model.
*Solution:*
Add the significance to the return object

[2021-07-07 04:45] soumyaray commented on #225
@NicholasDanks let me take a look!  May I ask what the inferential properties of the loadings might be used for?

[2021-07-12 12:10] francischuah opened #226 "Lambda symbol not rendered appropriately"
I use the "save_plot" syntax to save the model plot. It seems like the "lambda" (loadings) symbol cannot be properly rendered. I attached two examples. One is in PNG form and another one is a screenshot from PDF.
The symbol "lambda" (loadings) is appropriately displayed in R though.
![Image1](https://user-images.githubusercontent.com/86041835/125285044-cbbb4700-e34c-11eb-8609-f9182e085010.jpg)
![I

[2021-07-12 14:21] soumyaray commented on #226
@francischuah I regret to say that I cannot reproduce the issue.  The saved PDF file renders the greek letters well for me.

Could I ask you to run the code again and afterwards run `sessionInfo()`? Please report the results here.

My results, for example, are:
[code]

I'm wondering if there is an issue with how encodings are set on your machine.

[2021-07-12 14:26] soumyaray commented on #226
@Sumidu bringing this to your attention as well.

[2021-07-12 14:53] francischuah commented on #226
@soumyaray

[code]

[2021-07-12 21:56] Sumidu commented on #226
I think this may be due to how Windows uses a different encoding for symbols.

Until we have a fix, you can set the `plot.specialcharacters` variable in the theme to `FALSE`.
SEMinR will then spell out "lambda" instead of using the symbol.
Here's how you do it:
[code]
Hope this helps 🙂

[2021-07-12 22:03] Sumidu commented on #226
You could also try to enforce UTF-8 encoding by calling `options(encoding = 'UTF-8')` in the setup chunk.

[2021-07-13 01:44] francischuah commented on #226
Thank you for the quick reply.

[2021-07-13 02:19] soumyaray commented on #226
@Sumidu where should be encoding options be specified precisely? (not sure which setup chunk)

[2021-07-16 21:24] JulianGaviriaL opened #227 "A very basic PLS-SEM model."
I post below a basic question on PLS-SEM modelling with seminr package. Thanks in advance for indicating me a more appropriated forum/site, in case this site is exclusive for reporting bugs.

[code]
Question: According to the attached plot, the composite variable "Y" is not formative (see arrows). If this is true, how should I modify the script?

Thanks in advance,
[data.xlsx](https://github.com/s

[2021-07-16 21:27] Sumidu commented on #227
Hi Julian,
this does look like a bug. I will look into it tomorrow.
Thank you for reporting this here. It should be a quick fix.

[2021-07-16 22:02] JulianGaviriaL commented on #227
Thanks André.

[2021-07-18 18:21] JulianGaviriaL opened #228 "Computing prediction statistics (MAE, MAPE, RMSE values) in seminr"
Hello
From the following model:

[data.xlsx](https://github.com/sem-in-r/seminr/files/6836761/data.xlsx)
[code]
I computed "in-sample" and "out-sample" values with pls predict function:
[code]
How can I compute MAE, MAPE, RMSE values? Thanks in advance for your comments.

[2021-07-20 06:06] soumyaray commented on #228
Thanks for submitting the issue.  @NicholasDanks is best suited to answer these questions.  Kindly let him investigate and let us know.

[2021-07-20 07:01] JulianGaviriaL commented on #228
Thanks Soumya for replying.

Have a nice day.

[2021-07-20 08:11] NicholasDanks commented on #228
Oh and please do close this issue if you are satisfied.

Regards,
Nick

[2021-07-20 13:04] JulianGaviriaL commented on #228
the summary function nicely worked! Thank you very much. A couple of remaining  questions on this regard:

1) Is it possible to obtain Q2_predict values?
2) Following (Shmueli et al., 2019., Table1) I wonder how could I compare the distributions of the prediction errors from PLS-SEM with those from LM. Is it necessary to quantify their similarity? A visual inspection is enough? For this purpose, I

[2021-07-23 13:19] JulianGaviriaL opened #233 "Obtain effect size of indirect and total effects in mediation analyses"
Dear seminr experts,

First, thank you for the seminr package. It makes an important contribution to the PLS-SEM implementation.

On the other hand, I wonder how could I obtain the effect size of indirect and total effects from a mediation analysis? As you know, `fSquared` does not account for mediator variables.  Thanks in advance for any suggestion on this regard. Please find below my sample dat

[2021-07-23 13:34] JulianGaviriaL commented on #141
Dear @soumyaray,

Thank you very much for the suggested code. How could we obtain p-values for non-normal data?

Thanks in advance

[2021-07-23 13:36] JulianGaviriaL commented on #90
For the sake of completeness, it is informative to obtain total effects as well.

Best regards,

[2021-07-24 06:38] soumyaray commented on #141
Hi @JulianGaviriaL, even non-normal usually produces fairly normal looking statistics (e.g., the mean, path estimates, etc.).  Take a look at the t-values from your bootstrap to see if they are very obviously non-symmetric:

(using `tvalues` from above calculation)

[code]

If the results look fairly symmetric, then simply apply the `pvalues` computation above.  If not, let me know and I'll offer

[2021-07-25 12:43] #133 closed

[2021-07-26 01:55] soumyaray commented on #226
@francischuah did you get this working?

[2021-07-26 02:01] francischuah commented on #226
Hi Prof Soumya, i use the `plot.specialcharacters` as suggested. It seems like this has been a common problem in Rstudio

[2021-07-26 04:03] soumyaray commented on #226
Thanks @francischuah -- I'm guessing its because non-UTF8 encoding is less supported nowadays.

@Sumidu you can decide whether to close this issue (or perhaps add to the documentation)

[2021-07-26 05:25] NicholasDanks commented on #233
Dear Julian,

It is great to see your continued use of our package, I hope that I can assist you with the following:
For an example of some code applying mediation analysis, I suggest running the demo file:

[2021-07-26 05:35] NicholasDanks commented on #228
Dear Julian,

1. We do not include Q2 metrics in SEMinR. Refer to Shmueli et al. (2016) Appendix C for a discussion on the Q2 metric.
2. I cannot comment authoritatively on this question. I believe that it is only necessary to evaluate the PLS-SEM error for identifying the predictive metric which would be best. I believe you can conduct a statistical test to determine if the distribution is normal

[2021-07-26 05:39] NicholasDanks commented on #227
Thank you for pointing out this bug. We have implemented a bugfix (thank you Andre!).
We will accumulate a few bugfixes and new features before releasing a new version. If you need to publish a model in the interim, you could install the bugfix version of SEMinR using the following code:
```remotes::install_github("https://github.com/sem-in-r/seminr.git", ref = "bugfix-227")```

Hope this helps an

[2021-07-26 07:51] JulianGaviriaL commented on #233
Dear @NicholasDanks

Thank you very much for your response.

Indeed, I could use `summary_object$total_indirect_effects` in the following code:

[code]

[code]
Questions:
1.  Are they p-values?, i.e., does the output indictes that all the potential direct effects are significant?

2. Would it be possible to compute the T Statatistics and the confidence intervals, such as it's nice provided in `spe

[2021-07-26 08:18] JulianGaviriaL commented on #141
Hi @soumyaray,

It's me who must thank you for your time!

Regarding the normal distribution of my dataset, it seems like it's not the case on my dataset:

[data.xlsx](https://github.com/sem-in-r/seminr/files/6876646/data.xlsx)
[code]

Thanks in advance for your comments,

Best regards.

[2021-07-26 08:29] JulianGaviriaL commented on #227
It  worked fine. Thanks a lot @NicholasDanks  and Andre!

Best regards,

[2021-07-26 08:29] #227 closed

[2021-07-26 08:33] JulianGaviriaL commented on #228
Thanks for your comments @NicholasDanks

Best regards,

[2021-07-26 08:33] #228 closed

[2021-07-28 09:03] soumyaray opened #235 "Add significances to CBSEM structural paths in summary"
Leon: "In the moderation section the output provides the estimates, but how do we know if those values are significant? Generally, is there a way to retrieve these as well as the standard errors for estimates. We usually have to report estimate, standard error and p-value (and sometimes 95% confidence intervals). Also this leads me to ask if those estimates are indeed standardized estimates?"

[2021-07-28 09:24] soumyaray opened #236 "Add mediated-moderation features CBSEM + PLS"
Leon (re: CBSEM): An index of moderated-mediation. I found the gemm package which uses the rosetta package as well, I think it might also give you a good idea - https://psyarxiv.com/mj2ug/download

[2021-07-28 09:57] soumyaray commented on #225
@NicholasDanks see PR #234 - summary of cbsem model now returns significances of loadings as well. however, it changes where the loadings are in the report (please see PR for breaking changes)

[2021-07-30 04:20] NicholasDanks commented on #233
Dear Julian,

In this case, there is no such report. We are currently thinking about how to update the reporting to include this type of display. Unfortunately in order to test significance of indirect paths you will need to repeatedly run specific_effect_significance for each indirect path.
This will provide you with the Original Est of indirect effect and the inferential information.
Please keep

[2021-07-30 05:39] soumyaray commented on #235
Now addressed by #234

[2021-07-30 05:39] #235 closed

[2021-07-30 05:43] soumyaray commented on #225
Addressed now in #234

[2021-07-30 05:43] #225 closed

[2021-08-04 11:19] BilgeAcarBolat opened #237 "effect size for moderator analysis"
Dear seminr experts
 When I use the interaction term for the moderator analysis, effect size (f2) isn’t available for the model. How can I get the effect size result for the moderator analysis?

Kind regards

[2021-08-09 08:46] NicholasDanks commented on #237
Hi @BilgeAcarBolat

Thank you very much for your interest in SEMinR.
Currently, we do not automate the calculation of the effect sizes for the interaction model, as trying to remove either the IV or the moderator will result in a model that is technically impossible (ie the interaction term is constructed from the IV and moderator, therefore the effect size of excluding either of these would be me

[2021-08-09 12:36] soumyaray commented on #237
@NicholasDanks so is your conclusion that trying to compute f^2 of the interaction term alone is technically possible using the `fSquared()` function, but of questionable value as both the IV and moderator have to be in the model?

[2021-08-09 14:52] NicholasDanks commented on #237
@soumyaray It's more like we have not automated the results in the summary() function because the automated results would attempt to calculate the fsquared for the interaction term components (in my above example it would be CUSA and SC), thus making the model non-estimable. If CUSA was removed then the interaction term CUSA*SC could not be calculated.
I need to bugfix this to not calculate fsquar

[2021-08-09 16:19] NicholasDanks commented on #237
I have now automated these results.
New output:
[code]

[2021-08-10 13:18] BilgeAcarBolat commented on #237
Dear Nicolas and Somya

Thank you so much for helping me, but I have one last question.  Which code
did you use to get the automated results? Because  the function fSquared() only
gives a single f2 value.

Best Regards,

Bilge

Nicholas Danks ***@***.***>, 9 Ağu 2021 Pzt, 19:20 tarihinde
şunu yazdı:

--
Assoc.Prof.Dr.Bilge Acar Bolat
Department of Quantitative Methods
School of Business
Istanbul U

[2021-08-15 21:19] simvrh opened #239 "How to fix PLSc bootstrapping issues?"
I'm aware that PLSc models can result in errors:

models with interactions can be estimated as PLS consistent, but are subject to some bias as per
Becker et al. (2018). It is not uncommon for bootstrapping PLSc models to result in errors due the
calculation of the adjustment.

I have only reflective constructs in my model:

No matter what I try to change in the measurement or structural models, I

[2021-08-16 03:06] soumyaray commented on #239
Thank you @simvrh for bringing this to our attention.  We will try to get to the bottom of this soon and might require more information from you about your model/data.

In the meantime, if you are familiar with covariance-based structural equation modeling (ala LISREL/Lavaan/MPlus/etc.), you can also try to estimate your reflective model using `estimate_cbsem(...)`. In fact, for a purely reflectiv

[2021-08-16 06:11] simvrh commented on #239
Thanks a lot @soumyaray for looking into this. Please let me know if you need the full source and data.

`estimate_cbsem` works like a charm. I'm analyzing data from an exploratory study which suggests PLS-SEM may be a more suitable method than CB-SEM (Hair et al., 2017). That is why I'm trying to "migrate" from CB-SEM to PLS-SEM for this particular study.

Hair, J. F. J., Matthews, L. M., Matthew

[2021-08-16 09:40] simvrh commented on #239
I played with `estimate_pls` a bit more. I noticed another potential issue (factor loadings > 1, all VIF < 1.7). Considering the last post on the SmartPLS forum thread below, would it be possible to manually choose PLS / PLSc (for both `estimate_pls` and `bootstrap_model`)?

https://forum.smartpls.com/viewtopic.php?t=3766

I suppose that this might be a request for a new feature (as a quick fix al

[2021-08-16 09:55] NicholasDanks commented on #239
Hi

Glad to see you're getting some utility from our package.
We provide a fairly strict syntax for estimating SEM models in our package, however, you certainly can select a model that estimates reflectively (mode A) measured constructs and uses regular PLS for the estimation.
when you select ```reflective()``` type constructs and ```estimate_pls()```, the algorithm automatically applies PLSc. How

[2021-08-16 10:02] simvrh opened #240 "summary() does not work if there is factor column in data"
I noticed that `summary()` for a `estimate_pls` model breaks if data has any factor column:

`Error in stats::cor(seminr_model$data, seminr_model$data) (...): 'x' must be numeric`

This error can be reproduced with the `mobi` dataset:

[code]

This is an issue if we want to keep categorical variables (e.g., gender) in the data.

[2021-08-16 10:28] simvrh commented on #239
Thanks a lot! Not too intuitive but works perfectly!

It gets a bit confusing because of the need to specify the measurement model differently for CB-SEM and PLS-SEM but at least I can live with this. Might be worth including a word or two about this (`composite` can be used to model **both** reflective `weights = mode_A` and formative contructs `weights = mode_B`) in the SEMinR PDF.

PS: Switchin

[2021-08-18 07:32] #140 closed

[2021-08-18 08:03] soumyaray commented on #239
Greetings @simvrh -- we agree with you on the confusion of terms.  Within SEMinR team, we do not usually refer to mode A/B composites as reflective/formative, though I am not entirely averse to calling them reflective-composite and formative-composite.  Moreover, personally, I want people to think of 'reflective' as being reflective in the common-factor sense. Our thinking on this is always evolvi

[2021-08-18 09:35] NicholasDanks commented on #237
Hi Bilge.

We are currently submitting the bugfix to CRAN. I will let you know by a message when the new version is available.

[2021-08-18 09:40] soumyaray commented on #237
Bilge, I believe @NicholasDanks used a summary function to get the full set of f^2 results.

[2021-08-18 09:41] NicholasDanks commented on #237
Yes, and this update to the summary() function will be included in the next release in the following several days.

[2021-08-25 10:31] NicholasDanks opened #243 "reliability plot should have 0.7 threshold"
Not 0.707. 0.707 relates only to indicator loadings and not rho and alpha

[2021-08-25 10:41] #243 closed

[2021-08-25 10:42] NicholasDanks commented on #239
Addressed by issue #242

[2021-08-25 10:42] #239 closed

[2021-08-25 10:43] NicholasDanks commented on #237
REleased and closed

[2021-08-25 10:43] #237 closed

[2021-08-25 11:11] BilgeAcarBolat commented on #237
Seminr package

I'm looking forward to seeing your updates😊

[2021-08-25 11:15] NicholasDanks commented on #237
Hi Bilge,
You can ```install.packages("seminr")``` to download the latest release of SEMinR.
After that you can simply ```estimate_pls()``` a moderated model, ```summary()``` the model and then access the ```$fSquares sub-object```.
Note that the DV and Mod variables cannot have fSquares as removal of either will make the structural regression fail. So only the interaction term has a fSquare.

I h

[2021-08-25 11:32] BilgeAcarBolat commented on #237
Hi, Nicholas. Thank you for your time and support in this matter. It will help me a lot

[2021-08-27 07:38] paullemmens opened #245 "seminr vs plspm differences in resulting models"
As total beginner both in SEM / path modeling as well as with seminr, I'm running into the following. A colleague fitted a model using plspm with the following summary.

![image](https://user-images.githubusercontent.com/5063702/131090634-ab4f1ed7-a6c2-4814-9e12-0cbc52f83923.png)
![image](https://user-images.githubusercontent.com/5063702/131090661-b70e24c2-1201-4f25-9150-1e7981d9a65f.png)

I restr

[2021-09-01 05:57] paullemmens commented on #245
Thanks @soumyaray and @NicholasDanks I'll need to anonymize the data to protect employer and will get back to you shortly.

Both sets of fitting code are as follows. For `seminr` in addition to the above specification, I'm fitting with

[code]

The `plspm` modeling:

[code]

There's one other difference that I just spotted which is the explict NA filtering in the `plspm` code. I think this is a le

[2021-09-08 08:31] paullemmens commented on #245
Took me a little longer due to other priorities to recreate a minimized data set that reproduces the above problem. Just sent it, with accompanying script to your email @NicholasDanks @soumyaray.

Thanks for looking into the difference(s)!

[2021-09-20 06:15] simvrh opened #247 "Missing rhoC in PLS summary() reliability table if items are reflective"
I noticed a potential bug in the `summary` function (missing rhoC in the reliability table) that can be reproduced with this code:

[code]

[2021-09-20 07:14] simvrh opened #248 "Notify if PLS solution is not valid"
If you find some time, it would be nice if seminr would notify users if a PLS solution is not valid e.g. if there are issues with loadings (over 1, NaN).

For example, cSEM considers 5 checks:

"Results based on an estimated model exhibiting one of the following defects are deemed inadmissible: non-convergence, loadings and/or (congeneric) reliabilities larger than 1, a construct VCV and/or a mode

[2021-10-01 14:15] NicholasDanks commented on #245
Dear Paul,

I hope you are well.
First, please accept my very sincere apologies for the delay in responding to you.
This is my first semester delivering 4 new modules of my own creation and i'm overwhelmed with syllabus development.

I have done a little probing on the data and have settled on the nature of the difference in estimation.
When I investigate the plspm() function RDocs, I note the fol

[2021-10-13 13:40] paullemmens commented on #245
Thank you @NicholasDanks for making time and effort for the elaborate analysis! Indeed the scaling parameter of `plspm` is/was one of the reasons why my colleague opted to use that package for model fitting. In the social sciences there is on the one hand a lot of pragmatism around handlingLikert-like rating scales but on the other hand it is just as much frowned upon when converting such ordina/n

[2021-10-14 16:05] MarcLinderGit opened #249 "Calculating an indirect effect within a sequential mediation after bootstrapping"
Dear seminr team,

First of all, I would like to thank you for the seminr package. I greatly appreciate your work and it fundamentally aids me in my research.

I would like to calculate the indirect effect within a sequential mediation after bootstrapping. Using the demo file as an example [demo("seminr-primer-chap7")], I basically would like to calculate the indirect effect of "COMP" through a fi

[2021-10-19 06:30] soumyaray commented on #249
@LMM2021 @rondobohrens do let us know if the above suggestion solves the issue?

[2021-10-25 14:29] #249 closed, assigned to nobody

[2021-10-26 14:43] NicholasDanks opened #250 "Bug in bootstrap for models with one antecedent and several outcomes"
The subsetting fails when trying to allocate the bootstrap results.
Use all_endogenous function and refactor

[2021-10-28 08:55] JoshSchramm94 opened #251 "Error Message: String is not in a unique standard format"
Hey there,

I was working with the A Primer on Partial Least Squares Structural Equation Modeling (PLS-SEM) book by Hair, Hult, Ringle, and Sarstedt (already waiting for the 3rd edition including R) and found the R codes on the seminr page on github. I was trying to use the package and constructing a model, however, I got the following error message:

Generating the seminr model
Error in as.POSIXl

[2021-11-02 13:13] #245 closed

[2021-11-04 10:00] NicholasDanks opened #252 "Show composite reliability for reflectives"
Show composite reliability for reflectives

[2021-11-04 10:31] NicholasDanks opened #253 "Add sumscores to the measurement model options"

[2021-11-04 10:34] NicholasDanks commented on #253
This error check needs to be dealt with:
[code]

[2021-11-04 10:56] NicholasDanks opened #254 "Consider adding bootstrapped reliability and validity metrics for measurement model"

[2022-01-02 05:38] Sajoury opened #256 "bootstrapping issue"
Hello,

I tried to run bootstrapping using seminr package but I got this error:

Bootstrapping model using seminr...
Bootstrapping encountered this ERROR:
2 nodes produced errors; first error: missing value where TRUE/FALSE needed

Length  Class   Mode
     0   NULL   NULL

Any suggestions why this happens and how to fix it?

Thanks

[2022-01-03 01:54] soumyaray commented on #256
Thanks @Sajoury -- we are processing this and thank you for sharing extra information offline. At the moment, it would appear that the issue is that one or more of your subgroups, on of your variables (C1) is wholly without variance (i.e., all its values are 1). This means it cannot be standardized and will cause problems as a predictor in a regression as well.  We will discuss internally if there

[2022-01-03 05:51] Sajoury commented on #256
Thank you professor @soumyaray.
I removed the variable C1 and it worked!

Thank you very much for your time and support.

[2022-01-03 05:56] soumyaray opened #257 "Investigate error reporting from parallel execution"
Utilize parallel's aggregate error handling to report nicer errors.

[2022-01-03 06:19] soumyaray commented on #256
@Sajoury -- most welcome. While we cannot "fix" this problem (for the reasons stated above), we will soon release a version that detects this situation and issues a more helpful error message. Thanks for your kind sharing.

[2022-01-04 03:49] NicholasDanks opened #259 "HOC plotting error with conflicting HOC name"
(from Facebook)
Dear group, may I ask for your help, with a problem I couldn't find an answer for elsewhere, unfortunately?
I'll receive the following error when trying to plot a PLS model that includes higher-order composites:
"Error in get_construct_type(model, construct) :
  object 'construct_type' not found"
Plots without HOCs work, as well as the HOC plot with the mobi dataset, however.
Thank

[2022-01-04 13:50] soumyaray commented on #259
@NicholasDanks i don't see how the HOC's name "CO" conflicts with anything in the items?

[2022-01-12 03:42] hsakareem opened #261 "INVARIENCE TEST function"
Hello,

I was wondering if there is a way to do an INVARIENCE TEST using a function in SEMinR. A demo tutorial will be very helpful.

Thank you.

[2022-01-12 05:26] soumyaray commented on #261
Thanks @hsakareem can you post your who use case here?  I believe you wish to do it for covariance-based modeling in a CFA, correct?

[2022-01-12 10:22] hsakareem commented on #261
Yes. Covariance-based modeling in a CFA.

[2022-01-14 06:48] soumyaray opened #262 "Ten Berge scores cannot be estimated when non-numeric in data?"
Discovered trying to resolve #261

Example coming soon...

[2022-01-29 22:01] domician1 opened #263 "Errors while using SEMinR data analysis software"
Dear members of GitHub

I have been trying to generate the results using SEMinR data analysis package. However, there appear error messages that block the output:

error 1 (pops up when trying to generate un-estimated structural model)

Error in read.table(file = file, header = header, sep = sep, quote = quote,  :
  'file' must be a character string or connection

Error 2 (occurs when trying to es

[2022-01-31 07:15] soumyaray commented on #263
Hi @domician1 and thanks for trying out SEMinR.  The major issue you are having is that you have not loaded the data correctly. Might I suggest the following:

1. Use your browser to go to https://github.com/sem-in-r/seminr/files/7964821/datest.xlsx and download that file into the working directory of your project – having a local copy of the data file will allow you to run your code even when you

[2022-01-31 19:15] domician1 commented on #263
Thanks soumyaray, I will give it a try tomorrow and update you on the results

[2022-02-01 21:52] domician1 commented on #263
Dear soumyaray, thanks again for your support.

However, when I attempted to extend the application of your proposed corrections to my initial code, I was only able to generate the plot for un-estimated model (see attached). The code to estimate and generate the model failed with many errors returned (see attached doc showing the codes and the corresponding error returns).

May I now ask for guida

[2022-02-03 17:46] HuqAsifM opened #264 "Error in structural_model[, 1] : incorrect number of dimensions"
Hi! I'm trying to model the following and consistently getting the subject error. Many thanks in advance for your help. And thanks much to dear Soumya for many helpful suggestions already. I am attaching a subset of the data I'm working with.

measurements2 <- constructs(
  reflective("ProValue", multi_items("Age_years", "children", "work")),
  reflective("ValExp", multi_items("ChooseService", "To

[2022-02-04 09:44] sandeepdey98 commented on #263
Dear Saumya da,
real sorry for troubling you and the other team members.
I have travelled everywhere on YT and other places to get to the bottom of this error. Any heads up from you will be highly appreciated...
##start code
library(seminr)
attach(GreenPB)
survey.data<- GreenPB
#measurement model
measurement<- constructs(
  composite("ATT", multi_items("ATT", 1:5)),
  composite("INT", multi_items(

[2022-02-04 09:54] soumyaray commented on #264
@HuqAsifM I've got a working version. I had to make several changes to your syntax. Please see the code below and notes in it.

[code]

[2022-02-04 10:08] domician1 commented on #263
Dear soumyaray
Is this last post the way my problem can be solved or it's just another challenge similar to mine?
Please advise
Thanks
Charles

[2022-02-04 14:45] sandeepdey98 commented on #263
This is an error similar to yours Mr. Charles.

[2022-02-07 02:34] soumyaray commented on #263
@domician1

Your model is extremely complicated! I'm not entirely sure it will be valid to have so many constructs and paths for only 500+ observations. Nonetheless, I've tried running a simpler model to start:

[code]

This model runs fine. Could I ask you to confirm this runs and then add necessary things one-by-one until you find the point where you get an error?

Also, please see how I am usin

[2022-02-07 02:37] soumyaray commented on #263
@sandeepdey98 Similarly to my advice for @domician1, could I kindly ask you to start with the simplest model possible that runs (e.g., a few constructs and no interactions) and slowly add complexity (first add more constructs and rerun, and add interactions at the end) until you find what is causing the error?

[2022-02-07 03:06] soumyaray commented on #264
@HuqAsifM I'll close this issue for now -- feel free to reopen it if you continue facing difficulties.

[2022-02-07 03:06] #264 closed

[2022-02-07 12:38] HuqAsifM commented on #264
Dear @soumyaray, Thank you so much for all the help! I'll work with it soon.

[2022-02-07 15:37] sandeepdey98 commented on #263
@soumyaray da,
My professor helped me figure out the cause of the error. All this while I was not including the interaction terms in the measurement object...I was forgetting to add the closing bracket. The code and the moderators work fine. I apologize for this, I'd just lost my mind.

The script should look like this:
library(seminr) # install.packages("seminr")
surveyData <- read.csv("GreenPB.c

[2022-02-08 00:54] soumyaray commented on #263
@sandeepdey98 Glad to see you got it working and many thanks to your professor for finding the issue!

[2022-02-12 09:53] koliajaykr opened #265 "Error in solve.default(construct_score_cors[c(independant, dependant[i])"
upon running the `estimate_pls()` the execution is halted with this error:

`Error in solve.default(construct_score_cors[c(independant, dependant[i]),  :
  Lapack routine dgesv: system is exactly singular: U[3,3] = 0
Calls: <Anonymous> ... <Anonymous> -> calc_insample -> solve -> solve.default
Execution halted`

Kindly guide me on what could be the source of this error. Thank you in anticipation.

[2022-02-12 10:01] soumyaray commented on #265
Dear @koliajaykr this issue usually arises when two or more of your constructs have nearly identical (highly collinear) scores.  Perhaps you can try to see if there are items that are nearly identical across constructs using a simple correlation matrix. Or else, please provide us a sample of the code and data that is producing this error. You may email it to me privately (see my Github profile) if

[2022-02-12 10:01] koliajaykr commented on #265
Somehow this issue is resolved by reducing the number of `paths` inside the `relationships()` function. But still, I am interested to know what roughly this error means. Thank you.

[2022-02-12 10:02] soumyaray commented on #265
sure -- please see my reply above.  there is a relationship where constructs involved are likely nearly identical.

[2022-02-12 10:05] koliajaykr commented on #265
you are absolutely correct about the addition of similar paths. thank you so much for your prompt reply. it is so kind of you. :)

[2022-02-12 10:09] #265 closed

[2022-02-17 16:43] sandeepdey98 commented on #263
@soumyaray da, sorry for the repeat.. this time I followed every rule in the book..this time my professor also not able to understand

library(seminr)
attach(GreenPB)
survey.data<- GreenPB
View(GreenPB)
str(survey.data)
dim(survey.data)
measurement<- constructs(
  composite("ATT", multi_items("ATT", 1:5)),
  composite("INT", multi_items("INT", 1:3)),
  composite("PAE", multi_items("PAE", 1:4)),

[2022-02-18 10:04] soumyaray commented on #263
Hi @sandeepdey98 I'm happy to take a look but your code is not showing accurately on Github because some characters (like asterisks '*') are interpreted as italics, etc. Also, indentation is not showing up. Could you edit your comment and use [triple backticks](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks) around yo

[2022-02-18 10:04] soumyaray commented on #263
and @sandeepdey98 at this point I would also suggest you start a new issue!

[2022-02-18 14:41] sandeepdey98 opened #266 "Error while trying to plot PLS-SEM model"
Hello @soumyaray sir jee,

here is the new issue I have opened. the following is my code with the error being returned.
[code]
[code]
[code]
[code]
[code]
[code]
plot(boot_estimates, title = "Bootstrapped Model")
[code]
Error in model$outer_loadings[indicator, construct] :
  subscript out of bounds
[code]

[2022-02-19 14:34] soumyaray commented on #266
Thanks for the much improved code presentation @sandeepdey98 -- Can I ask if the error is only happening on the plot command?

[2022-02-19 14:38] soumyaray commented on #266
and unrelated, the structural model can be written more simply as:
[code]

[2022-02-19 14:54] soumyaray commented on #266
@sandeepdey98 could you kindly try the following to see if they work?

1. Only define constructs in the measurement model that will be used in the structural model

2. If the above doesn't help, ALSO start by removing all items in your dataset (`survey.data`) that are not used in the model?

We have noted similar bugs before and I think it will be an easy fix if one of the above solves your issue

[2022-02-20 19:26] sandeepdey98 commented on #266
Everything else works , only the plot command.

[2022-02-20 23:47] soumyaray commented on #266
@sandeepdey98 please try to add GRE and MDF as antecedents of GPB (main variables should always be included as antecedents when creating an interaction out of them). Let me know if that resolves it.

[2022-02-21 09:43] #266 closed

[2022-02-21 11:43] soumyaray commented on #266
Glad it worked!! We will also internally consider whether using an interaction term without main effects, even if invalid, should still be plotted (perhaps with a warning notice). Thanks for bringing this to our attention.

[2022-03-08 10:04] koliajaykr opened #268 "Which R package to use with SEMinR to print tables in the pdf output?"
For producing tables there are several R packages like kableExtra, gt, and stargazer. Which R package do you recommend for pdf and word output?

[2022-03-08 13:40] soumyaray commented on #268
Dear @koliajaykr that's a terrific question and I regret that I don't have a great answer for you. `Stargazer` has been a perennial favorite for R users, though `kableextra` and `gt` are gaining popularity.  One consideration might be which output formats each package supports. `gt`, for example, used to mainly support HTML output though now it seems to support RTF and LaTex. You will want to cons

[2022-03-09 05:32] koliajaykr commented on #268
@soumyaray thank you for your reply.

I tried to use the R package `kableExtra` for generating HTML output and it is working good.

[2022-03-16 09:23] RFrantic opened #270 "Parallel encountered this ERROR: Must subset columns with a valid subscript vector. x Subscript `endogenous_items` must be a simple vector, not a matrix.Error in parallel::stopCluster(cl) : object 'cl' not found"
Dear members of GitHub,
I am quite new to R and I need to run a PLS for my PhD project. I followed the description by Hair et al (2021). However, when using the predict function, I get the following errors:
Parallel encountered   this ERROR:    Must subset columns with a valid   subscript vector.   x Subscript `endogenous_items` must be a   simple vector, not a matrix.Error in parallel::stopCluste

[2022-03-16 15:05] Ikarobarreto opened #271 "Problems with summary function"
Dear Group,

I am facing some problems reporting the results of SEM with HOCs. I couldn't find an answer to the problem, unfortunately. The code I used is reproduced below.

`library(seminr)
AB<-read.table("DB-AB.txt",h=T)

ab_sm1 <- relationships(
  paths(from = c("Capital_Social"),
                 to=c("Competencias")),
  paths(from=c("Competencias"),
        to=c("Desempenho"))
)

ab_mm1 <- co

[2022-03-16 15:44] NicholasDanks commented on #271
Hi Ikarobarreto,

I hope you are well.
Thanks for letting us know about your issue.
I have tried to replicate the problem you describe, and to achieve this without data, I just modify the corp rep data to have similar variable names and number of columns (indicators).

My code to reproduce the problem:
[code]

[2022-03-16 15:55] NicholasDanks commented on #270
Dear RFrantic,

Thank you for your interest in our package, and I am sorry that you are encountering a challenge.

I have attempted to replicate your problem using the corp rep dataset:

[code]

However, I cannot replicate the error you are encountering.
Could you attempt to run the above code and check whether this can succesfully run. If so, then the problem might reside in your data file. In th

[2022-03-16 15:59] NicholasDanks commented on #263
@sandeepdey98 @domician1 has this issue been resolved? If so, please close the issue.
If not, please do as @soumyaray is suggesting and share the code in a code block. this is achieved by using three backticks (`) and you can find more details here: https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

Thanks.
Nick

[2022-03-16 16:38] #268 closed

[2022-03-16 18:33] Ikarobarreto commented on #271
It's a pleasure to contribute.

[2022-03-17 04:03] soumyaray commented on #271
@Ikarobarreto thanks for bringing this to our attention

@NicholasDanks ok i'll look into this -- I'm keeping the issue open

[2022-03-17 12:27] sandeepdey98 commented on #263
Hello Nick,
I started a different issue as recommended by Dr. Roy. My issue is resolved and that particular issue was closed by me. This particular issue was activated by @domician1.

[2022-03-17 12:32] soumyaray commented on #263
thanks @sandeepdey98!

@domician1 i'll close this issue but feel free to reopen it if you still have problems.

[2022-03-17 12:32] #263 closed

[2022-03-21 21:29] RFrantic commented on #270
Thank you very much, your emailed solution worked perfectly.

[2022-03-21 21:29] #270 closed

[2022-03-29 10:01] Finnug opened #272 "Wanting to check if I have coded in my moderators correctly"
[Blank diagram.pdf](https://github.com/sem-in-r/seminr/files/8370209/Blank.diagram.pdf)

Hello,

I'm currently creating a PLS-SEM model for my university dissertation applied to the Universal Theory of Technology And Acceptance and applying it to the intention to use Bitcoin. I have finished my code however once I added in the moderators of gender, age and experience (UsedBTC), the R squared value

[2022-03-29 10:40] soumyaray commented on #272
Hi Fin, it seems you have not put your interaction terms into the structural model yet!

See this demo that comes with SEMinR: https://github.com/sem-in-r/seminr/blob/master/demo/seminr-pls-interaction.R

For example, in the measurement model we specify an interaction term as:
[code]

And in the structural model we include the interaction using `Image*Expectation` and `Image*Value`:
[code]

You sh

[2022-03-29 11:01] Finnug commented on #272
Ok thank you! If you wouldn't mind looking at my diagram please would the correct way to write this interaction be:

paths(from = c("usedbitcoin", "usedbitcoin*effortexpectancy"), to = c("effortexpectancy")) - for the first line in the structural code. If this is correct I would repeat it for all each path stated in the code.

Thanks for the reply :)

[2022-03-29 11:01] Finnug commented on #272
@soumyaray pls see above :)

[2022-03-29 11:15] soumyaray commented on #272
@Finnug, several things:

1. I believe the image you showed is wrong? shouldn't arrows go from antecedents like `effortexpectancy` to the outcome `behaviouralintention`? I'll continue with this assumption.
2. I think you will have to specify the constructs in the name of the interaction term in the order of iv*moderator. So: `effortexpectancy*usedbitcoin`. Try it both ways.
3. The outcome should b

[2022-03-29 11:42] Finnug commented on #272
@soumyaray Thanks for all the help! Firstly, yes the arrows are wrong they're meant to go to behavioural intention.

To clarify a couple of things - as far as I understand my measurement model is constructed fine, but the structural is the issue. I have just attempted to run the code that you suggested and have received this error message:

`> simple_sm <- relationships(paths(from = c("performance

[2022-03-29 11:43] Finnug commented on #272
@soumyaray not sure what happened there sorry, first time using github.

full code:

+                                         paths(from = c("usedbitcoin", "usedbitcoin*effortexpectancy"), to = c("behaviouralintention")))

+                               measurement_model = simple_mm,
+                               structural_model = simple_sm)
Generating the seminr model
Error in first_stage$co

[2022-03-29 11:43] Finnug commented on #272
@soumyaray >

'simple_sm <- relationships(paths(from = c("performanceexpectancy", "effortexpectancy", "socialinfluence", "facilitatingconditions", "perceivedrisk", "financialliteracy"), to = c("behaviouralintention")),
+                                         paths(from = c("usedbitcoin", "usedbitcoin*effortexpectancy"), to = c("behaviouralintention")))

+                               measuremen

[2022-03-29 11:44] Finnug commented on #272
`> simple_sm <- relationships(paths(from = c("performanceexpectancy", "effortexpectancy", "socialinfluence", "facilitatingconditions", "perceivedrisk", "financialliteracy"), to = c("behaviouralintention")),
+                                         paths(from = c("usedbitcoin", "usedbitcoin*effortexpectancy"), to = c("behaviouralintention")))

+                               measurement_model = si

[2022-03-29 11:45] Finnug commented on #272
@soumyaray sorry not sure what happened there. Here is the full code

 simple_sm <- relationships(paths(from = c("performanceexpectancy", "effortexpectancy", "socialinfluence", "facilitatingconditions", "perceivedrisk", "financialliteracy"), to = c("behaviouralintention")),
                                        paths(from = c("usedbitcoin", "usedbitcoin*effortexpectancy"), to = c("behaviouralint

[2022-03-29 12:17] soumyaray commented on #272
@Finnug would it be possible to provide me a sample of your data and the full code?  I can try running it on my end to diagnose.  Your data and code will be kept confidentially and deleted when we resolve the issue. You may find my email on my [Github profile](https://github.com/soumyaray).

[2022-03-29 15:48] Finnug commented on #272
@soumyaray Have emailed :)

[2022-03-30 08:48] DrMedfaresBrini opened #273 "Composite scores for latent variables: only two variables out of 4 were given"
Dear all,
I have 4 latent variables in my model (two of them are higher-order constructs). I asked for the composite scores for each but only got the scores for two.
This is part of my code:
# Create measurement model
mm <- constructs(
  composite("values", multi_items("MV", 1:3)),
  composite("endurance", multi_items("ET",1:3)),
  composite("compliance", multi_items("COMP", 1:3)),
  higher_compos

[2022-03-30 09:46] soumyaray commented on #272
Ok it was a problem in model specification. Here's the working code for your entire model (I think):

[code]

Note that I am including each moderator (e.g., `gender`) and its interaction terms (e.g., `effortexpectancy*gender`) as IVs that explain the outcome.

Do let us know if this resolves the problem.

[2022-03-30 10:10] Finnug commented on #272
I’ve just ran all the code and it works! My R Squared has gone up to 76 instead of 69 now which means my model is better than the one I’m developing on by 6 percentage points!

Thanks so much you’re a life saver Soumya :)

Best,

Fin

[2022-03-30 10:52] NicholasDanks commented on #273
Dear @DrMedfaresBrini
thanks for your interest in the package. The first-order construct scores are stored in the estimated model object. Thus:
[code]

Please do let me know if this helps.
Kind regards,
Nick

[2022-03-30 11:40] soumyaray commented on #272
Best of luck on your research!

[2022-03-30 11:40] #272 closed

[2022-03-30 12:56] DrMedfaresBrini commented on #273
Hi @NicholasDanks
Thank you for the reply.
- Yes, I had the scores for all the lower-order constructs (emotional {1...5}; values-endurance-compliance)
- plus, the two latent variables (transcend, corporate) (they're not HOC)
- but, not for the two HOC emotional_intelligence and PMC (please see the picture of my model attached to figure these variables)

I think the HOC scores should be calculated

[2022-03-30 15:57] NicholasDanks commented on #273
Dear @DrMedfaresBrini
Thank you for pointing out this interesting edge-case. It seems the summary() function is editing out the constructs.
For now, you can access the construct scores directly in the model and not in the summarized model.
That is you should find the constructs scores for corporate, PMC, emotional_intelligence, and transcend in:
[code]
And you should find the remaining construct s

[2022-03-30 15:58] #259 closed

[2022-03-31 09:23] DrMedfaresBrini commented on #273
Hi @NicholasDanks
Thank you very much. It is all good now.

[2022-03-31 09:23] #273 closed

[2022-04-03 14:36] soumyaray opened #274 "PLS-MGA breaks if given model with only 2 constructs"
Example:
[code]

Error occurs on line 74 of estimate_pls_mga.R

[2022-04-19 10:21] MohamedaliS opened #275 "Error in get_construct_type(model, construct) : object 'construct_type' not found"
Is there any option to plot the construct with results from higher order models?
plot(pls_model) throws an Error.
Anyhow, I was able to plot the first stage model using.
plot(pls_model$first_stage_model)

But, clueless on how to plot the construct with results.
Any help would be much appreciated.

[2022-04-21 12:33] soumyaray commented on #271
This is a duplicate of #214. I've got a working fix now wherein I only return item correlations for items in the original raw data provided by the user. The first order and second order factor correlations still show up in `cbsummary$descriptives$correlations$constructs`

Now onto considering how to fix reliabilities for the HOC...

[2022-04-21 14:07] soumyaray commented on #271
Have a working fix for loadings and reliabilities at PR #276 -- please check on it for progress

[2022-05-03 12:20] NicholasDanks commented on #275
Dear Mohamed,

I hope you are well. The plotting function does currently work with higher order construct models.
Please note that all constructs in the measurement model should be used in the structural model. If there are any unused constructs in the measurement model, the model might not plot.
You can also access assistance at our Facebook group: https://www.facebook.com/groups/seminr

Best of

[2022-05-04 14:21] NicholasDanks commented on #275
Thanks! Version 2.4.0 will include the bugfix for this.

[2022-05-04 14:21] #214 closed

[2022-05-05 03:13] soumyaray commented on #247
Yes rhoC should be reported.  What is reported for CB-SEM reliabilities right now? Is this addressed in our latest hoc-summary update by any chance?

[2022-05-05 10:41] NicholasDanks commented on #222
@robertogilsaura I haven't solved this problem yet. But inspired by this issue, I have added a warning to let users know that predict functions don't work on HOC or moderated models.

[2022-05-05 10:44] NicholasDanks opened #279 "reliabilities of lower order constructs not shown in HOC summary()"
When I run summary() on a model including a HOC, the output does not contain reliability and validity metrics for the lower order model.

[2022-05-05 11:34] NicholasDanks commented on #247
Currently we have a NA for CR for reflective. It was not addressed in previous hoc-summary fix. I have now fixed it.

[2022-05-05 11:41] #247 closed

[2022-05-05 11:57] robertogilsaura commented on #222
Hi @NicholasDanks; great job with package. Very grateful with inclusion of a _warning_. I'm working with predict_pls using simple_model$data where I found values for HOC estimation.

[2022-05-09 17:31] #279 closed

[2022-05-09 17:46] NicholasDanks commented on #251
Dear Joshua,

I hope you are well and thanks for your interest in the package.
First of all we now have an open-access version of the primer: https://link.springer.com/book/10.1007/978-3-030-80519-7
Please do download and check it out.

Regarding the bug you encounter, I have tried to reproduce it by creating a "simulated" dataset by using the mobi data with renamed columns. See the below code:
[c

[2022-05-09 19:15] NicholasDanks commented on #253
Issue resolved

[2022-05-09 19:15] #253 closed

[2022-05-11 14:38] NicholasDanks commented on #274
@soumyaray  , if you are happy with the bug fix, please do close the issue.

[2022-05-11 14:43] #251 closed

[2022-05-11 15:22] soumyaray commented on #274
Thanks Nick! Do we have a test specifically for two-construct MGA?

[2022-05-11 15:27] NicholasDanks commented on #274
No, I don't want to add to the test computation time and this is a double bootstrap process.

[2022-05-11 15:30] soumyaray commented on #274
ok sure -- closing then.

[2022-05-11 15:30] #274 closed

[2022-05-11 15:50] NicholasDanks commented on #240
Dear @simvrh
I hope you are well. I have now addressed this bug with a bugfix. Before we close the issue and push a new version to CRAN, please can you test the bugfix?
Download the BETA version using:
[code]
And test your use case above.
Thanks! Please do close the issue if you are happy and do let us know if you encounter any further bugs.

Happy modeling!
Nick

[2022-05-16 13:03] NicholasDanks opened #286 "Cross-loadings are incorrectly reported in a HOC model"
[code]

The cross loadings are displayed as follows:
[code]
The crossloadings should include the indicators of lower-order constructs too.

[2022-05-16 13:26] NicholasDanks commented on #286
New output:

[code]

[2022-05-16 16:02] #286 closed

[2022-05-17 13:01] alibezzaa opened #288 "Error in plotting the bootstrapped model with SEMinR"
I'm trying to plot a PLS-SEM model with SEMinR and I get the following error :
Error in model$outer_loadings[indicator, construct] :
  subscript out of bounds
I have never come across this error before.

[script.pdf](https://github.com/sem-in-r/seminr/files/8708444/script.pdf)

[2022-05-19 12:50] #288 closed

[2022-05-19 12:52] soumyaray commented on #288
Greetings @alibezzaa may I inquire if the issue is resolved?

[2022-05-19 13:22] alibezzaa commented on #288
Yes, thank you it was only a code mistake in the interaction term.

I have another question on second-order constructs, can I ask just here or should I go through Github?
________________________________
De : Soumya Ray ***@***.***>
Envoyé : jeudi 19 mai 2022 13:52
À : sem-in-r/seminr ***@***.***>
Cc : Ali BEZZAA ***@***.***>; Mention ***@***.***>
Objet : Re: [sem-in-r/seminr] Error in plotting th

[2022-05-20 22:55] alibezzaa opened #289 "Error when summarizing the estimate_pls()"
Hello,

When summarizing a PLS model, I get the following error:
Error in if (construct[[1]] %in% unique(as.vector(orig_sm))) { :
  argument is of length zero

The bootstrap works fine and I can plot the model. However, I can not summarize the model to assess validity.
Here's the code I used:

`mm3 = constructs(
  composite("Overload", single_item("TS_2")),
  composite("Invasion", multi_items("TS_

[2022-06-23 19:11] lscottmyers opened #291 "Dissimilar p-values in MGA"
I noticed that the p-values for group 1 vs. group 2 are different depending on the order of the filter in estimate_pls_mga function.  Examples are with mobi data & from the R help page for estimate_pls_mga:
mobi_mga <- estimate_pls_mga(mobi_pls, mobi$CUEX1 <= 8, nboot=50, cores = 2)
print(mobi_mga)
PLS-MGA results:
         from                           to  group1  group2     p
         Image ->

[2022-06-23 23:35] soumyaray commented on #291
Hi @lscottmyers -- thanks for your interest in SEMinR.  We should really add some documentation or notice about this in our results.  The test has two tails (e.g., <0.05 and >0.95 if you are looking at 5% significance) and both imply significant difference depending on whether the difference is positive or negative.

From the [SmartPLS documentation](https://www.smartpls.com/documentation/algorith

[2022-06-23 23:39] soumyaray commented on #291
Also, please use a much larger `nboot` to get more stable results -- I realize you are likely trying what is in our tests/documentation (deliberately kept small due to constraints of running tests on CRAN). Our default `nboot` is 2000.

[2022-06-24 02:03] soumyaray commented on #291
Lastly (pending your followup questions of course), please keep this issue open as I'd like to take the opportunity to think about where to add a note about significance of PLS-MGA in our documentation or results.

[2022-06-24 13:04] lscottmyers commented on #291
Thanks for your replies and explaining that this is a 2-tailed test.  For my real data I am using nboot = 2000; I just used the 50 in the example to match what was in CRAN.  And thanks for creating/writing/managing everything associated with the seminR package; I am finding it very helpful in my work.

    On Thursday, June 23, 2022, 10:04:07 PM EDT, Soumya Ray ***@***.***> wrote:

Lastly (pending

[2022-06-30 14:46] yrosseel opened #292 "ten Berge scores use @SampleStats@var slot"
This came up when I ran reverse dependency checks for the dev version of lavaan.

The `estimate_lavaan_ten_berge()` function starts with

[code]
For historical reasons, the `@SampleStats@var` slot contains unbiased variances (divided by N-1), while the `@SampleStats@cov` slot contains biased elements (divided by N) if estimator = "ML". In a recent update (0.6-12, not on CRAN yet), I changed this i

[2022-06-30 14:57] yrosseel opened #293 "using internal lavaan slots"
I noticed that seminr sometimes uses lavaan internal `@ `slots, which is discouraged (as they often change). In `report_lavaan.R`, we have `lavaan_output@Model@estimator`, `lavaan_output@call`, and `lavaan_output@Options$estimator`. They should be replaced by `lavInspect(lavaan_output, "options")$estimator` and `lavInspect(lavaan_output, "call")`.  In `estimate_factor_scores.R`, we have
`fit@Sampl

[2022-07-01 11:08] NicholasDanks commented on #293
Thanks Yves, we have updated the code and pushed to CRAN

[2022-07-01 13:02] NicholasDanks opened #298 "predict_pls() error when rownames of data are not sequential"
I am trying to run the predict_pls function on a model where I used consistent PLS.  See attached a file with the saved model.  I get the following error:
[code]

Let me know if you need more information.

Regards.
Martin

I solved this by forcing the rownames of my input data to be a complete sequential series:

[code]

This silly bug needs fixing

[2022-07-01 13:25] tfeuillet commented on #240
Hi Nick,
Is this bug really fixed? Because I am encountering the same issue as [simvrh](https://github.com/simvrh) while using the last CRAN release of SEMinR (2.3.0).
Thank you

[2022-07-02 10:23] NicholasDanks commented on #240
Dear tfeuillet,

I just pushed v2.3.1 to CRAN. Try an install.packages(“seminr”)

Again and double check you have v2.3.1. This should resolve your issue, but please do let us know if it does not.

Regards,
Nick

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: tfeuillet ***@***.***>
Sent: Friday, July 1, 2022 2:26:08 PM
To: sem-in-r/seminr ***@***.***>
Cc: Nicholas

[2022-07-02 17:05] tfeuillet commented on #240
Many thanks Nick.
This bug has been resolved with v2.3.1, but the script that worked before now displays a new issue (after running estimate_pls()):
"Messages d'avis :
1: Dans sqrt(rho %*% t(rho)) : Production de NaN
2: Dans sqrt(rho[i, ]) : Production de NaN"
I'll try to figure out, and if not I'll post a reproducible example.
Thanks again

[2022-07-02 17:08] NicholasDanks commented on #240
Dear tfeuillet,

This is a shortcoming with PLSc where if Rhoa be one’s negative, the plsc algorithm cannot be applied. This is particularly problematic when bootstrapping but sometimes occurs even in estimate model. Can you estimate the model as mode a composites and share the reliability metrics?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: tfeuillet ***@***

[2022-07-03 07:52] tfeuillet commented on #240
Thank you Nick.
Here are the reliability outputs with composite modes:

[2022-07-03 07:54] tfeuillet commented on #240
Reliability:
           alpha  rhoC   AVE   rhoA
GEOMORPHON 0.805 0.617 0.384 -1.839
DEM        0.902 0.916 0.603  0.879
PATH       1.000 1.000 1.000  1.000
CLIM       0.985 0.986 0.868  0.994
BUILDING   1.000 1.000 1.000  1.000
SHIFT      0.709 0.844 0.735  1.439

So rhoA is negative for GEOMORPHON. When I remove this block, it works well with the relfective mode.

[2022-07-03 16:28] yrosseel commented on #293
Much appreciated! Thanks!

Yves.

[2022-07-07 15:46] NicholasDanks opened #299 "bootstrap_model() errors when PLSc and HOC in model"
Some bootstrap iteration fails and the length variable is not correctly estimated for a HOC model.
in bootstrap_model()
[code]

[2022-08-02 09:39] JDottt opened #300 "'Error in if (weightDiff < 10 T^10(-stopCriterion)))) break : missing value where TRUE / FALSE needed'."
Dear seminr,

I am currently working on some mental health data science studies and have thoroughly enjoyed using seminr as part of these.
After making a few early models and managing to plot these ok, I have had some difficulty in scaling this up with a larger dataset (using 4,000 repeated measures versus 500 or so).

My structural and measurement models aren't too complex, the syntax seems fine

[2022-08-05 14:50] JDottt commented on #300
Managed to find a way around this thanks very much

[2022-08-05 14:50] #300 closed

[2022-08-07 13:10] yanxiang-yang commented on #289
Got the same problem, have you solved this?
@NicholasDanks @soumyaray @Sumidu Could you please help provide some suggestions? Thank you all very much.

[2022-08-12 14:15] geshirkey opened #301 "Installation Error in parse "...seminar/R/boot_utils.R:31:45: unexpected input""
Hello seminar community,

I have not yet found a solution as to why the installation of seminar is unsuccessful. Looks like there is an unexpected back-slash in the boot_utils.R file lines 31:45. See the console error message below:

<img width="747" alt="error_seminr" src="https://user-images.githubusercontent.com/36177430/184371637-daf6865b-185c-4e20-9158-5da2a0082173.PNG">

Perhaps someone has

[2022-08-12 15:42] soumyaray commented on #301
Hi @geshirkey can you tell us what version of R you are using?

[2022-08-12 17:16] geshirkey commented on #301
Thank you @soumyaray! This was indeed the issue and I'm glad it was a simple fix. I am grateful for your quick help.

If others find this helpful, I did need to update R to the latest version using the GUI and installr. Then I updated again the RStudio, even though the UI said there were no updates, to a development version so that the Graphics 15 could be used and enable my Plots tab. See that ot

[2022-08-12 17:20] geshirkey commented on #301
Thank you, Soumya.

I was using a version of R <4.0, specifically 3.4. I had not thought to update R, but was updating only RStudio.

I replied in the thread as well. Thanks again!

~Gabriela

From: Soumya Ray ***@***.***>
Sent: Friday, August 12, 2022 11:42 AM
To: sem-in-r/seminr ***@***.***>
Cc: Shirkey, Gabriela ***@***.***>; Mention ***@***.***>
Subject: Re: [sem-in-r/seminr] Installation Erro

[2022-08-13 02:03] soumyaray commented on #301
@geshirkey great to hear you got it fixed!  It seems the latest version of R you installed is a bleeding-edge development version (not quite finalized yet) so RStudio needed to also install a development version of itself to support the plotting window.  Thank you for bringing this to our attention -- it might affect users of not just seminr but everyone.

If you are curious what is 'new' in R in

[2022-08-15 21:13] sergey-kazakov opened #302 "Getting an error amid attempting to run 'plot' command"
Dear Developer Team.

Thank you very much for developing seminr package, I find it very practical solution for SEM PLS modelling.

I've updated to Rstudio most recently 2022.07.1 Build 554 and R 4.2.1 and in my most recent project I notoriously receive an error code when trying to get a pic of the model as follows:

Error in model$outer_loadings[indicator, construct] :
  subscript out of bounds

T

[2022-08-16 02:28] soumyaray commented on #302
Hi @sergey-kazakov, could you give us an idea of what your model looks like? does it have 2nd order constructs? ideally, it would be nice to have your measurement and structural model code.

[2022-08-16 08:12] sergey-kazakov commented on #302
Dear Soumya,
Thank you for your response.
I'm attaching the script below for your convenience. All script runs fine except for the plotting.
Regards, Sergio.

library(lavaan)
library(readxl)
library(seminr)
library(semPlot)

data_IMC = read_xlsx('/Users/skazakov/Documents/!Научная Работа/Мои публикации/2022/JEFAS-Vera-Olga/Omni22-STATA_SEM_data_only.xlsx')

mm_IMC = constructs(
  +     composite("

[2022-08-19 13:04] SatishAmbhore opened #304 "Error in generating the seminr model for CFA"
![1660823724007blob](https://user-images.githubusercontent.com/111578134/185624132-ddfa6e60-b073-4e55-8e8e-73166f4bd452.jpg)

Dear sir,
Greetings!

Kindly peruse the above screenshot. I am consistently receiving these errors. Kindly advice the solution please.

Warm regards,
Satish Ambhore

PhD (Psychology), NET, SET, DSE(HI)
Scientific Officer (Psychology)
Central Railway Headquarter,
Office of C

[2022-08-22 13:21] NicholasDanks commented on #304
See the response on Github issues:
https://github.com/sem-in-r/seminr/issues/304

On 19 Aug 2022, at 14:04, SatishAmbhore ***@***.******@***.***>> wrote:

[1660823724007blob]<https://user-images.githubusercontent.com/111578134/185624132-ddfa6e60-b073-4e55-8e8e-73166f4bd452.jpg>

Dear sir,
Greetings!

Kindly peruse the above screenshot. I am consistently receiving these errors. Kindly advice the so

[2022-08-22 14:45] NicholasDanks opened #305 "Error when plotting HOC and short HOC names."
From Facebook, Mohamed Ali, and Jota P Hidalgo

Mohamed Ali:
[code]

and Jota P Hidalgo:

[code]

This problem arises because the authors used a single letter for the construct names, this aggravates a poor indexing line of code in extract_sm_nodes() in plot.dot.R
```row_index <- grepl(construct, model$mmMatrix[,1])```
has now been replcaed with:
```row_index <- model$mmMatrix[,1] == construct```

[2022-08-22 15:18] NicholasDanks commented on #302
Dear Sergey-kazakov,

I hope you are well. I have the following code from your comment:
[code]

For me this code has no problem to run. If you are still having trouble, you can try to install the latest bugfix version by using the following code:
[code]
Please let us know if this addresses your issue, and close the issue if it is now resolved.

Many thanks!
Nick

[2022-08-23 02:15] SatishAmbhore opened #307 "Higher order analysis"
Dear sir,
Thanks for your kind reply of earlier thread.

Now my next question is:
How to do analyse higher order reflective -formative construct in seminr?

[2022-08-23 05:38] #304 closed

[2022-08-23 05:39] SatishAmbhore commented on #304
Thanks a lot sir.

[2022-08-25 09:13] soumyaray commented on #289
@NicholasDanks is this related to the HOC code issue you mentioned to me recently?

[2022-08-25 15:58] NicholasDanks opened #309 "Error calculating total indirect effects"
Thank you very much for spotting this bug in my code. Without the help and support of our community, we would not be able to find and test all possible code. I identified the problem.
The function for calculating the total_effects had some faulty logic.
specifically, the function is as follows:

[code]

to calculate total effects, we simply need to multiply the path coefficients matrix with itesel

[2022-08-25 16:04] #309 closed

[2022-08-25 16:10] NicholasDanks commented on #307
Dear Satish

We do not currently have any reporting features that directly provide output for the evaluation of higher-order-construct models. I am busy adapting Advanced Issues in PLS SEM for the SEMinR software, but this will not be published for some time yet.

In the interim you could find guidance here:
https://www.sciencedirect.com/science/article/abs/pii/S1441358219301223?casa_token=xKFpGZY

[2022-08-25 16:54] NicholasDanks commented on #289
This is another edge case :)

So I identified the bug in the code and I have committed a bug fix

Dear @yanxiang-yang  and @alibezzaa

Thank you very much for pointing out a bug in our code. I believe that I now have resolved the bug. It had to do with the calculation of fSquared on HOc models which consisted of only single paths. Please do run the following code:

[code]

Then test your model and

[2022-08-25 16:55] #305 closed

[2022-08-26 02:17] SatishAmbhore commented on #307
Thanks a lot sir

[2022-08-26 02:17] #307 closed

[2022-09-08 11:25] NicholasDanks opened #310 "problem with single antecedent and multiple outcome in bootstrap"
Dear Nicholas Danks hi. I am Dr. Lecturer Isa GÜL. I work at Afyonkarahisar University of Health Sciences, Department of Health Management in Turkey.  I am trying to apply pls sem with SEMinR package in R program. However, when I write the codes below, I get the following error. Can you help with resolving the error? Kind regards

SEMinR code.............
install.packages("seminr")
library(seminr)

[2022-09-22 14:23] NicholasDanks commented on #302
@sergey-kazakov  is this issue resolved?

[2022-09-22 14:24] #293 closed

[2022-09-22 20:09] sergey-kazakov commented on #302
Hi Nicolas,

My apologies, since I’ve thought I already had posted my thank you message on gt.  

Thank you so much, this line:

devtools::install_github(repo = "https://github.com/sem-in-r/seminr", ref = "bugfixes_aug_2022")

made a trick. 

Please accept my gigantic gratitude for creating and supporting such an amazingly powerful and practical tool. 

Best Regards,
Sergey 

Sent with Unibox

[2022-09-24 07:41] alibezzaa opened #311 "handle size of PLS-SEM plot"
I have a model with many indicators, and I cannot decipher the significant from the nonsignificant paths when I use the plot() function on the bootstrapped model. I have two questions:
How can we eliminate the loadings from the constructs to the indicators (reflective)?
How to improve the overall appearance of the model, and make it ready for publication?

[2022-09-26 11:24] isagul233 opened #312 "predictive power assessment in SEMinR"
Hello everyone.
I m testing a model like below. I will evaluate the predictive power of my model.
--Should I evaluate out-of-sample LM-RMSE values of all items of dependent variables (B, F, D)?
--Should I evaluate the items in each dependent variable separately?
--Should I evaluate all items?
thanks for the help
![image](https://user-images.githubusercontent.com/114403335/192264638-cc82c3b0-7195-4

[2022-09-26 19:09] NicholasDanks commented on #312
Dear Isa,

Thank you very much for this question. However, the FB group is for about plied questions while GitHub is only for coding issues. Could you post it in Facebook and close this issue?

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: isagul233 ***@***.***>
Sent: Monday, September 26, 2022 12:25:02 PM
To: sem-in-r/seminr ***@***.***>
Cc: Subscribed **

[2022-09-26 19:12] #312 closed

[2022-09-26 19:14] isagul233 commented on #312
Sorry, my problem was posted on FB.

[2022-09-26 19:16] isagul233 commented on #312
Sorry, my problem was posted on FB. Thanks.

Nicholas Danks ***@***.***>, 26 Eyl 2022 Pzt, 22:09 tarihinde
şunu yazdı:

[2022-09-28 09:02] NicholasDanks commented on #311
Dear Alibezzaa,

Thank you very much for this great request. In general, the GitHub page is for feature requests, issues, and bugs in the code.  Since this question is more related to the application of the package, it would be more useful to post it on the FB page so that other users might benefit from the discussion.

1. How can we eliminate the loadings from the constructs to the indicators (re

[2022-09-28 09:03] #302 closed

[2022-09-28 09:04] #292 closed

[2022-09-28 09:16] alibezzaa commented on #311
Thank you for your reply.
I wanted to know if it is possible, with SEMinR, to plot only the structural model **without** the outer loadings, as it is possible with SmartPLS. This way the plot is lighter and easier to interpret.

[2022-10-09 02:01] FranDot commented on #289
Hello,
I'm new to seminr and getting the following summary error
Error in if ((mmMatrix[mmMatrix[, "construct"] == construct, "type"][1] ==  :
  missing value where TRUE/FALSE needed

I don't know how to resolve the error and any help is appreciated.

Here's my code.
corp_rep_mm <- constructs(
  composite("Empowerment", multi_items("Empower_",1:5)))

corp_rep_sm <- relationships(
  paths(from = "E

[2022-10-09 02:06] soumyaray commented on #289
Hi @FranDot are you missing some code above? It seems you have never defined the measurement of all the constructs except for Empowerment. All constructs used in your structural model must be defined in the `constructs()` list.

Also, I believe this is a separate issue -- so if the problem lingers, please open a new issue. Alternatively, you can also share your code (upon fixing my above suggestio

[2022-10-11 07:44] alibezzaa commented on #288
I will share with you the model I'm working on (N=71). I have two constructs that are theoretically second-order and have been measured as so, well-being at work and technostress. Well-being has two underlying dimensions and technostress four (only two shown) because I'm still collecting data to improve fit.
I have two issues to resolve:

  *   Is it appropriate to plot the model the way I did? Or

[2022-10-11 07:49] NicholasDanks commented on #311
Dear Alibezzaa,

Please can you post this query on our Facebook page as this forum is for code-related bugs and issues.

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: alibezzaa ***@***.***>
Sent: Saturday, September 24, 2022 8:41:24 AM
To: sem-in-r/seminr ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [sem-in-r/seminr] handle size of PLS-SEM plot (Issue

[2022-10-11 07:52] sergey-kazakov commented on #302
Hi Nick!
I’ve installed the bug fix as you recommended and it worked quite well for me. 
Thank you so much for your help and ongoing support!
Have a lovely week. 
Best Regards,
Sergey

Sent with Unibox

[2022-10-11 08:51] Finnug commented on #272
Hi Soumya,

This is a big ask and feel free to say no but you’ve been really helpful so I thought that I may as well ask. Now the model is done, I’m struggling to see how I could write hypotheses for these results. I initially planned to not have moderators for them so my 6 hypotheses were these:

Performance Expectancy positively influences the intention to use Bitcoin as a currency.

Effort expe

[2022-10-12 18:30] #310 closed

[2022-10-12 18:31] #289 closed

[2022-10-12 18:32] #311 closed

[2022-10-17 11:19] soumyaray commented on #272
Hi @Finnug, you should have one hypothesis for each interaction: e.g., "the influence of effort expectancy on BI will be [negatively/positively] moderated by experience". You must have one test statistic to validate each hypothesis.

[2022-10-25 10:05] sandeepdey98 opened #316 "Sobel Test For Simple Mediation"
Dear Prof. Ray ji, Dear Nicholas,
I have a simple mediation model  (A->B->C type) in my doctoral thesis. While I have used seminr extensively for other aspects of my doctoral work, I just wanted to get your 2 cents on how to conduct a sobel test. Any ideas or leads will be helpful.

thanks and regards,

[2022-10-25 13:34] soumyaray commented on #316
Dear Sandeep, this would be a great question to post on our Facebook group for SEMinR where other users congregate and would find your question helpful! Please repost at: https://www.facebook.com/groups/seminr/

We will only use these issues on Github for bug reporting. See over at our FB group!
(if you do not use FB, kindly contact me directly via email)

[2022-10-25 13:34] #316 closed

[2022-10-29 14:43] adrotar22 opened #317 "estimate_pls error"
Hi there, I am getting errors while using estimate pls.

+     measurement_model = simple_mm1,
+     structural_model = simple_sm,
+     inner_weights = path_weighting,
+     missing = mean_replacement,
+     missing_value = "-99"))
Generating the seminr model
Error in `stop_subscript()`:
! Can't subset columns that don't exist.
x Columns `53`, `53`, `44`, `54`, `53`, etc. don't exist.
Run `rlang:

[2022-10-30 08:19] adrotar22 commented on #161
Hi there, I have a similar issue. can you please help?

[2022-10-30 14:36] soumyaray commented on #161
@adrotar22 could you update to the latest version of SEMinR and see if it resolves the issue?

[2022-10-30 16:03] adrotar22 commented on #161
I've only installed it recently, so should be the latest ? I installed
seminr a week ago...

On Sun, 30 Oct 2022, 14:36 Soumya Ray, ***@***.***> wrote:

[2022-11-30 08:00] apa-22 opened #318 "first error: there is no package called 'seminr' in bootstrap_model()"
Hi there

I tried estimating a PLS model using the 'seminr' package. The function 'estimate_pls()' seems to work properly. However, I encounter the following problem when I try to bootstrapping:

[code]

Can anyone help please?
I have already tried uninstalling and reinstalling the package, but I still get this error message.

[2022-11-30 08:07] soumyaray commented on #318
Hi @apa-22 thanks for trying SEMinR. Please help us diagnose the problem by answering a few preliminary questions:

1. Are you running your code in RStudio or by some other means?
2. Your version of R?  Try running: `R.Version()$version.string`
3. Your version of RStudio? Select "About RStudio" from the Help menu
4.  Your version of seminr installed? Try running: `packageVersion("seminr")`

[2022-11-30 08:14] apa-22 commented on #318
Hi @soumyaray thanks for your reply!

Here are my current settings:

1. Yes I am using RStudio
2. R version 4.1.1 (2021-08-10)
3. RStudio version 2021.09.0
4.  seminr version 2.3.2

Thanks for your support!

[2022-11-30 10:16] soumyaray commented on #318
@apa-22 seminr is trying to run the bootstrap using all the cores of your CPU in parallel. It seems that parallel processing is not working on your computer.

Questions:
1. What operating system and version are you using?
2. What version of the `parallel` package is installed in R? (Try: `packageVersion("parallel")`)
3. What do you see when you try: `parallel::detectCores()`

Can you also try to r

[2022-11-30 12:30] apa-22 commented on #318
Hi @soumyaray thanks for your reply.

1. Windows 10 version 1607
2. parallel version: 4.1.1
3. 16

I tried running your code, i.e.:

[code]

but I still get the error message. This time it says "one node produced an error" instead of "16 nodes produced errors" since we set cores=1, I guess.

[code]